
@font-face {
  font-family: 'GothamRounded-Medium';
  src: url('GothamRounded-Medium.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamRounded-Medium';
  src:  url('GothamRounded-Medium.otf')  format('opentype'),
	     url(data:application/x-font-woff;charset=utf-8;base64,d09GRgABAAAAAGCQAA8AAAABBRQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAABgdAAAABoA
AAAcScDOw0dERUYAAFJIAAAALwAAADIFtQQoR1BPUwAAU3gAAAz7AAA4KjUcHYVHU1VCAABSeAAA
AP4AAAGs09HGJ09TLzIAAAHQAAAATgAAAGBaVzrtY21hcAAABQgAAAJsAAADjpmQQIlnYXNwAABS
QAAAAAgAAAAI//8AA2dseWYAAAo8AABACQAArSg/mWTcaGVhZAAAAVgAAAA0AAAANgjVBfBoaGVh
AAABjAAAACEAAAAkCFYFHGhtdHgAAAIgAAAC5QAABYxQh0yAbG9jYQAAB3QAAALIAAACyBi6RPht
YXhwAAABsAAAAB8AAAAgAbUAwW5hbWUAAEpIAAADtAAACLWRipi/cG9zdAAATfwAAARCAAAHR9sJ
oRB42mNgZGBgYGRwtDjlLB7Pb/OVgZv5BVCE4dLShJsw+v/5f29Z5rBoA7kcDEwgUQB3tw4neNpj
YGRgYFb4b8FwguXM//P/t7DMYQCKIAPGZACttgd6AAAAeNpjYGRgYExm2McgwAACTEDMCIQMDA5g
PgMAIMQBeAB42mNgYvzNGMfAysDCtIepi4GBoQdCM95lMGL4xYAEFjAw1AMpLxjfQ80NxFZQEmJW
+G/BcIL5AMMHBQbGySxAQSYBpj0gOQZmAObsDswAAHjahVRNSJRRFD3vfiNR4E8LpzZOTYJ/Tc7k
qKDTqGGj5ChlJdgwhEpBVOCqkBYRUmERYZuIfpS2LYRamEEEraI/ihJqU4s2RoG2mKFw0XTucz7T
mcCBw3nz3vveve/c865Jwf5MDxEgarHfzKFFnmCbjKLB6UVIZlBpCtFiHqOVCJkpROUsx4XwmZsI
k9tkPSCzaDJX4ZNj2C4n0Cj3USnDiMg4mmQQrXKGZ40jYjYhRpTzDD2nkzgkZfA7s4xXgBp5j4R8
RcQpIk8Q40g4JTznNxImikEJwS8vOH+S80cJL3GA63ey/IFr5xlrjDHS2CefUe2J89yXzGkGW+Up
ouY5+plzMbnRpNAj/Zm35CsSR7VMolsiCJJ3ShJBM4ItdnwK3caHLuPLLMgeOz7oTHMv5+W63d+t
+8xdrqXhN7dRxrUO6UKF04cKiTKnODUJcc8cak0cp8lBs4DdrvYSQ71cQLNMoU5G0Myc+pwWNJhL
/PYI6s05bOTcXvMRMeoW4/iB7ECV1oDja9wX4L526lmjWubBizpPKWtLfa22K0Bt16m+RIGJZhad
AKpcbXPB2AOWVd+VUH3v8TzVRLX8D5wZsuqbXA3q+ks1JaeJ7/RfcFnbXNB/llXflVB9J23sSusl
jecy725z0Ltr/By2fmP99N623qqL5rYGW2/qd7m8AV7mJNRynvf5Qv5Dnqe+7bxniJzU+1ov00/q
Z/t/icOr/g+TL7POCfi0JqpLHms9qEkue7oQ8ZQwX74L9WaWw1nu0Leifs1jvh/rYZe1vqrxGqxv
zfpdvaD1yL459X0eF/+ri/pSveHmvZxHkpzCQBaHiUfEGDFNtBOdxIQbN5fdPLgHzrelXodF4iIR
Z98qQdgZtX1sF1Fu+1qa4zTHaY5vcY09z/zAcWcz2jyvmc8Q3+IQY7/KfJJ31JpvVJ4x14coVW/a
O7ie/8n+cWMJniLyEPuc7p9GHXN6o/1X5/8CVxYKrAAAAHjatZPHUxRBFIe/NyDoiqIIAipr76qL
giBBwQUzUcWAYkQxYc45Iypa5lhlzoo5YyqwTAe9evRiuaP/gZ7ksG07eKE8eHKq5k331PTXU7/3
NRBC090FMRWpMTNx5qGywDwnMoQWdKSKq9Ryh0c84QUNEi6dpZskSrpkS7GUy1ypkmOirXhrivXB
+hzic+9y/1AtlEtFq07KrbzKp9JUjspXdz2xHuXxeqO0NnzFJcO9wX3DfUY9r8UlbvFJkmSJX0qk
QhYZbqMVZ7jvrU+GW+3+rizVSnVQcaqLUg7X35yrv+l3+q1+o1/pl7pB1+vn+qmu04/0A31H39Y3
dK2+rA/pRB0Z/BisDJYFI77WfS2y/XaWnWon20l2L9tnJ9gxdkSgNpAbyAxkfMlryuc/XGGWy0me
v3YQrD8j6x+MppUhhJpehRFOS1rhojURtKEtkbSjPVF0IJoY08tY4oinE51NlxNw09V0wYOXbnSn
Bz4S6UkvkkimNymk0oc00skgk770I4ts+uMnh1wGMJBBDDaODGUYeeRTQCFFFDOcEYykhFGMZgxj
KWUc4yljgjFqEpOZwlTKmcZ0KpjBTGaZ/9/MFuNZNXs4yHFOcZLTnOUM57hgLLnIZa5wzfHwOje5
zS3j4z3uGicf8pg6Gc4yKpnLfBnJSk6whIVSxgp+e7yVw6Yud3Ka1yy7Rawx9TwPWMccJ0zlvF/M
WilhNuvZxAF+0ihDZZgUSpHkSb7xFZ5JvIyVUhktY5x1I1glBeY0jGIj29nADrZRwy52s5N97Def
7OUoxzhCwPidxlLpLSmSympzivpI8i/8r6pgAAAAKgAqACoAKgBYAIoA7AFKAbACCgImAkwCcgK8
AugDCgMiAzoDWAN+A6ID3AQcBEwEjgTMBPAFMgVwBZoFzgX2Bh4GRgaKBu4HHAdWB4oHsgfgCAgI
RAhuCIgIsAjiCQAJNglkCYoJtgn4CjAKeAqaCsQK7gsqC2ILjAu4C9wL+gweDEQMWgx2DLwM8g0m
DWANlg3ODhYORA5sDp4O0A7oDywPXA+GD74P9hAeEGwQoBDQEPYRMhFoEaARzhIYEjASehKmEqYS
1BMkE2oTuhQiFEwUoBT0FTYVhhWeFcQWABYcFjoWUhZoFqAW4hcmF2gXqhf0GEgYmhjgGSIZYhmk
GegaMhqEGrIa4BsUG1AbihveHBocVhyYHOYdMB1kHbId8h4yHngexh8EHzIfch/MICYghiDyIVoh
viImImYisCL8I04jqCPUJAIkNiRyJMAlFiVUJZIl2CYoJnQmrCb4JzwngCfMKCAobCiiKP4pPCmS
KdwqPCp0KsYrDitWK5or3iwuLH4swi0QLUotmC3WLh4uaC66LvgvQC9+L8wwFjBoML4xIDFsMcQy
GDJ6MsQzBjMwM1ozjjPCM+g0HDRGNF40rDT4NSo1WDWQNcI19jYkNlQ2fja2Nug3LDdyN7o4BDhO
OJo40jkMOU45kjngOjA6bDrEOxA7TjugO+I8Njx6PNY9OD2MPeY+Sj60Pu4/Oj94P8A//EA8QIJA
zkEYQWZBtkIMQkhCiELiQzpDgEPURCBEYkSmRORFIkVsRbZF+EZSRspHIkeeSABIYkjCSShJXkmA
SaJJxEncSgJKHEpKSnhKmErqSzpLjEvcTDxMnEzaTSZNJk0mTSZNJk0mTSZNPk1WTXhNmk28TfpO
OE50TqZO8k8KT0BPyk/uUBRQMlCUUOJRUlGgUbpR8FJUUsxTNFOOU9hUZFSuVQhV/lYaVhpWlHja
xb0JeBvVtTg+98q2rF0jaTTat5Et75ssyfEeO17i2NkhiZM4K9kXIKQQAmkgQAhL2CGUJZCUFAr/
tiylLeV1hZbSsreUrrSvr3lt01L62B4kHv/uvTMjjUYjyUnf9/3z2aOZsXLvOeee7Z577rlUKUVN
tYEPNSFKQ5VROspIWSiKocM08AJg14Q1dgMIgw/5RU8/zV/7xBPg1ieeeOlpsOElzV/OuDTP8peD
6878CFwGLuOv568HnfzlFPoHqflTp6l34XcpE+WlqJSmMtkBWpxajRlEKrWtyXiL0w8cZVykMrGL
gw56mGYgB5iAI1odCFZVBQPVZ8ARm9tt4zdZHY5j/qoqvx5fhLa7wY3gCdS2hQpSFEh1A9w247AA
3GBM8Qw8NAy6qsy2ktkGt8X+Gxt6ilmEJwd48m1XyGYps/4+yNCZW9RHZOo0/AL8PtVHDVJUD8CQ
tiIcUuiGfHYDhIMFxNM3uMeyWqBN35jxf0L/U7hJxVPcxbYGZyDg7A20M8EgM+rQ+B2uoMb2gEMT
QDcldAN+3RuYgb80h8F/DZXYH0A3jCt4x/2B+9s2B5xM8CvBmuCldleF6wJ0rWQvIO/wZS9+uXmv
zR3921cQnTRUYupeOBueppqpNqoHUao1icnuZDGAXCRWGWMCAN1q0W+ksgtUxjCO8RbWySYaALpN
2VvRd7oBcKA3ZgD8nqh70XAgzFosyeaLN16yxh317Jzwhli7eWTkwg2XTDxb29YU59+ramtshq/j
4XPq6+kgG9KFDd/zr5m/YLOuE7/tNvbht4ak6UX/xKL5G8t5EKmjny1tAFvDNbYnSxqoUqpp6n81
YfgC4kYfVYPgR6Ngx0AKODjKNK0pkCS01pJhLhX+KDIWaEmip0ouUoaenNlPPx9esfL25SsP6MBP
9S6a1fEJI0s7wR/R69nol7dFquvC6Be8JN1MbByBczaRC/+CyQR32ViryTR5s431SH8Z2Qyebq+B
tR3kwn8hc4/GITb1MTwMX6JiVCvVRVGlkUYCMoIpJQNayyZTIkZlWtaJkOgGGbDtLakYAR8uddln
r75s/VV3te9YvnDTvZf6AqawM6jlqufag/y325J1XEUjN2vm/RN9evvIyh3j8JrekWE4e+OaYXhF
+56qTn+QMZlnts+1N4TA047WCsjVNVbABn5P99HqUVjXjmUMYBmj3iQyRtkVEtUtiJAdiZAnW4TQ
/+uZ2gOuhy9SDMYzVmmVUDJjJsKMB8YdOp7XOWw+x+oVK1Y7fAe1R6D5iDZg91hmHX3z6CyLxx4Q
YGhCbV0utMVi+UNwtKaZtMSqLZuw+RjcCOOzOXTU1JTuYMDutpJWrG57QHtk8n+OaIW2usAecBH8
IZIFhI+WaJ7WHiA2FkQ3SSzFIrQWIMpII7pBsvFN/RyL3uRgly5lHWaDaY4e2gI2qJ9jMprtwkud
RXgJHhxP6R1mRl8Z0zMmhz61zOpkrOidHb2LVeqd0jsMUw91AeyAy7EWq0hIGiYh8oOkRwgclaDk
MBsKOw+HXWzksDMcYg9HWFf4wRtDrDN8oyscdt0YdrIhfIfaDUztpH5G3UI5EN1aU8lYA5BxGWot
wA5pXOHKQKSyub45uNtZyvZro+5yf2VjtWFVvJbQK059Ai4AO5D+plIiZAQgboeL41zP48snnMvN
cW4Xh7/fi/T9K6hP/P0s/d6LtHlVFdLqIzItDpDN2Qs+03DE1ihEuQzcaw7YfaX8BrPf4VtiNGoG
fV67znLmOZ+X6P8ZUx/C+5A8GSiWokpCRIZCuMMSQdCJwID3+f957HFgfozf/9Ca9Q+uNb52L7z3
DXxZe8sWuOW2w1vhFkKr06BO4LEUneYLAVsa68Wnhg0GZ6h6S6UTerhoS7QNWp2aIFNjiBg4z+TX
0DtCL0Q12AR/RFVi/HuQ6Caw5IoNCkYCU8QCwi1ItLlwpLI29MuRGb3NI720hw2bG7bO27h//oZb
gc8ZCjn5Xf6Kds7zje4FDS0dc+1hlqFntO2agHN3LLosVBcKCjydRHSog89TdYKsico7LhChFgio
EIMVDwtsHQBEO6ZumXBwLtbWv6J1YMmI2xn0fJF3hoIs2OCNcI8s2329cbnV5+Ks/R2NMD4j6HR5
vhqsCwVcIe5xw6pxuOZKwQ7HkI3ci3D2UH7MwWGCKkIdky6O0STci0xynAb38z92c14w2xZq4ZJO
v9+ZjLRETp5MbAq7wyFwHWOPuPlLAzX+Te5w+CRgCH4dCL9WhF+DGn5ILWIbhkktYIeIqk3r/9Z9
a92ci7HMntc5On9m1ZjGFfFACwixoIsNhVj+U0Oqbdv1txhHHQhPY0dfCiZ6XC5b9IwriEQq9EXH
RYg9Doi8dh7itSAeYQSFJEtpI4rgSHdbKee/BXtGamofuOWCkSDnslg7ukaXlA6v3nzjXU/tH523
f65xpOaKC+CX3m5xhF1hXWzvusHPbYAbD24dQpAMDLXCJNGlp2ES4e/APJUC4cxICoJyyACs/Bts
EA3cIU+A5n/vrPBUtNgc4H8Rj/g93tDkr6sDyP40IfsziMbJSUUEWmZMj6ATCPBQBrxNjkjHJffs
23DDmzds2Hf349uGBncMtl83f/G+Rfqd43B3IrkBLti2bQHckJyxE67YCR5sr4fVM9qqkUG5pbMe
NnYgFqpDdMRjuQTRMSDSUTaaKdEYkmcZJILhA7Ubz/dFXDTd1T86runecOH1t++6dHTxQ09fPTa/
r3eOsd0WdoX0tXvWjey5AG66YeT8r8PH3wSbZydg2+yRNphCfQ8g3fQmdAq+qD1LO9FZTwOSrpI+
wev4U4cv/AGZ/oIUh3Ss0GZE2aZGTeemm45kKV9ZB5Mv5CpiZLeo1bASrkZjR1VEYhVk5CqS8SRm
AhMgBvVfBit/T1MT2Gy1OPwR/htgdiSwuvxJZ315vfPJchBwRqxfuM/KOQncQ9TjMA4ZQXfaJY5C
gJfK7j/PhsMsuAJf+Wsy9+CRcEMY/XwmfBAZXYzg6xLgs7ewpQTd0jKuDKuCeoBH+ZDBCjY1N/NH
CHhgNv+NSABmw2e5Lw1fGOnjD5E+JpyKve1GUIn8IoEfJHUq0tUCzEArOYToD6fLaBfUa5yO27sT
c7psdjbsWHrFlqteLtGwE1XdVejnHZY+3+GD5glY25oyh1gPvWjHSvglroFmD8snGRD5zhOao4hf
O6lhzK9UopWKtwSgIPQCGJhfCSjILWIcmJOJzhfu066cRvYafPCdKWT5vjF+fNesnYs21c1aMrbp
hmUrmzS6WtZfUllaE20bPXnisT+f/NpV20vLtDrd555JLeqsb1vYfoya+vozAPZtv3XssqsGBzcv
3nT7iK2F87yNnL/KrWsPv/O3E4+e7NYYtIaSQdA50dvUuaIvPgPhUYN0yK+R7LNISxMtgk0bCyT3
JkxImopraspBCRsvQ38q0YbdNbYZ/BMd1mpX+Lcf7201WuGslpbJ500md6T2wMFY+DPgxfOLcUSo
h5F+YpB2rML2k3gJbEalYDNnT9sjWrirBeNRz5k93Y3rb7zpUv4zT3TPo11DvR1P/qx36NYfdsNe
T7S7cQBuam3cC1esj4KLmhphTSMfaG6EE6JNeBKNCyfpMYUuxi6yjPrg6JGf/eyBQxtdnIexzl22
7ppr1q2eZ2VYzrHV+PoReOTNebagmzP23LIJbrq13xxhPbYJMv4Yt7cQbhbKncaM4ITtaiqNE0Ll
x8ffeOP4jz3RvTdsv+667TcQDH58F7z7pejoNajV6wRbjdvbitpDrm1c1DuiJ8BI1osRXhzxRKMe
cA8xUydAPfl8C6zCTl/UgxsPNYSeDSMj9Ty6EdpGY7wJte0SIJU3TD6xcCBAwREi0I+ABvL5JteK
nJlBTxSJ8nfR7589HEel7e7LiMY1hWmcEOfCoo4DJ4795JX7b1rnjrptjjmrVh+4ZsvaoRsw+D/0
RGsvNr5yH7z750P2oDtqTt22AW6/OXEAORVRz7fj3lEqjceDaM7tFfDA7YYT+FPwxLqAhEorB+Yi
6NEn/xTBYhTB7jl1Cl8nn8HXf/6TYAOoNUj3/xa1aRJpIzSGIF8T9bijUbdH+t/k/wlwhKc+Bn9E
/8eF5x1yS5WgRWi0ZR9dPMZE3Azd2p3ojLZG+7r1Y3avO2JODgyA23HD/JbL+rozeOFYQlDCi6GB
NNGwi3TVaDO4jTIBd8j567/TUU/A+ceLMxjy74C5LOJRx5v8b5xON+cHwR23YbAF/hpBfVgzfaQ9
TdJoFxn065B0oTHH+P4djXlUgk+jh9/DlkySYW/GBSZmUkNgpEVOMkWZn//CETVhTnVHH2eCAebL
XGskBecgbuKfAWNoWCefRa6xG3yRnwqFqCl+pVsYD0yL5zNjTJSRRFUsWzGQ7gShN8G1RDl3Kefn
j6A70n6U7wBfwfMOPGAV4E1+llsYN+JjaNhi8wI4xP/g1ddB96t83avXHnz1WuObdyO+xJe1h5G4
3oY1AZZ/BOdlSKZslE8p/2Sg7HIV8Pbltx7dcyMap723DCxcMHgLEav9W+BF+x5DpAYtgynYOTMb
RidVn5aukDD9l3RyWXpWmoEayxt49CgBfKiejbjctpaVi9GnkxmPICwObuxPpjG5dHUFdmtt9X2/
JZ8LO0ZExG4NUSJudyPcfGS2ItPaZRkguFwsP7t6uP28kescUTbq+vJ9GNtn+uaODjxNsB3sXA4X
bGYfczvdodCvnsdo9/ciH6yTzOM/hrORDYqr+fGxBo26hmHFycq82z7niiBXfvnmGf29E53ze/3X
bb5yjRe5hJaF81q7+9dfsu0G/VI64AobhptjMNbgtASaBhrh+EUzLRHkWycao7C63uVbuRiuuZDw
O4fwvwDhb0c+Fc1l/J5agfdA2ZfxjBq8gSXm8SiWPlukIYJ+Jt9Dki3I9Lypj+AJgY9L034k4mFJ
TYiKBuy58SiWkZWLF63Enw8ZHrwbLCey/OXVG9etEu8fv/dh1GY1otPXUZssoZNGJJQXdAvBAC0S
QrC1mflIG/U00C+/UhZiPFzZx0yLvgX2Wk1uro7XgkmajbiN5snnWwQ4a6Y+LonAH1IVJAorBBdE
6cYfUsNY8gwAf/CvlVZ4nOGyhx+k63WNlgcftta5o2Wv2RqM9bb778cf1XCW0ejm3A4+CN5Fjl0Y
/GddxG1Afcbj4Cd8Ki7MTU/DOxEuHPE67GmWTikUXyMgHkjS9voLds4TcT75VTfnjNhfeBU9hdnn
v4VeRVoZN4AfuBlPJPDXP0dCLtb1IT9FHj/6VyQk4BkiOvYHWGdXJDKkkxAk3AyC/zJHPZz7hz9y
RzwR+p9ILba9A+YwTnekgv9v4Kng3AzLf+s3giHAvjcFr0F84iU2G3vemTkYllhxLn+JE7nGN/AP
44k7+Jkz7OR3g23Y7oWcmqAH/C5UF0Z3fh/PhetCuN2lU/vAbahdNM4snY6sEAdJuIlULo24X7X7
fY677nL4/PZX3RE0f3NzPofdN7nfZ3f4iC61TO2FOiGGUkpEB4h4AyfU+Rx+M7+h1GcPmMG9ZUvs
Xp9m0KJDH2eeM5Lx2Qd2Et+NAoLmJbacTtt0sJNDIPh89rvvxtdX3RzcP9mOYKjywv3eKp9oK8fA
X8AJZDuw/08i3VL4JIh9TByP/3TYEXD6jKvcUR3nXWXwsQEHvGilx+YwW6+ORq+mTQ6bh7Q19drU
anho6jtIf1Na2WwEOrxeB1yBrw/5Kn3oB/V7A5wLZsH3KDP6j4iJJPZCfYKKGt8sutEdsM3Qwbne
XovF7PYvNekYon+rkdyWQZaK4kggm/ZukIsun12wkuXrQtoY6ylJKf3X3O2fWz97oH9/Qq9jAuGF
Sz83Y0bE7Qn3jnTNT/a197UblozCRUucprYOHLfnTMGOtq38GXc4wDjGlva0RJnGalhRK9iCUQTL
DvguhaFJezyZmWSMMG2FzHY5RyOt3OCOdbfftn7HYLSFA9beJUv3LV+egtuwRTy17s598Mq7VnrR
Q+/KUThnYtUIHFlFxqkR+XQ09E7bb+7dff8Dn9s+ag+zDmuyY+bSZQM9KYvNGaDnGo9eDC8+1ke7
2ZCxfu0gHFrbaAo6XeY5BKdmhNMihJMb2xaQJiInozTuAwg9CrjBRZzbI+K1fQjf8+/3Ll22b3wc
Hp+8E2MWXnfXlXDfnSv/jB74j1eMyVBDfTaSOJiXKiNz8XAD4sIyWZdkkYMLB4CIn+NLwFI22J4a
AWNzL7zkvtsvnP+5RNjFf12/sHOgzUw7fKC+a+4Y/9rgvXvgrocW7Op1h3uGGgy+GkzHIJqfXgj/
IFhOUVhEniH9YGKS4G3anGxkmECAYWprxsI+2h1gzIbBCac/wKxAA5gCF/lrArEltTWl0OdgAgDO
9/tr/PwtaZ+meWoC0dOL9HdLrvXMIStxTTVyjgGprWsiAcaon7Nkwflzdq49fMuaHXMwifuHru9d
vnz/+UuONZo4R6C0ZtG86jUHL4QXXj/udiPPjb/jmv4hEF/YA3sWLuiFvQsEeR9FerYSjW8wm2Ml
D12K2mDIRpHL1nvB0vWIZzuSiT7O4+ZERv2vFdtX8ifx3Ufd/YNdHxBsITWCfPWfw18h+Uda3J7I
zOztaQ8RNTsS64yhHx12DVGT8EiZNxTylnnD4cnnwDHsdPITuEE49c+plaQ9B4XULsuJpIu3pN34
Mo2sk3Zdn88BNJp61PBYQujkOGxy+sAM8AfSbGjuXE1HurcMPTyIHqGM3527iKBl0gT5k8fDBrw3
PWQNu0LMPfNlROEvf9cTYj3uq95w2lxB709GV7hFO7QI0eVnqA9jpg/S3iKRBGIDRFREmDQ7Ec80
p+c8ZJBY2ewnzSA5D6OYOfpWXdgwuG3JWnzftqFb+sB9CSR2L1+5cstqcQx7+ga68Ri6P+7qH+r8
wC3NowRe8Uq0iRdmFtSHkluEvjxq3CLJ/VrUvhHHNkrlq4Ox7PW/ocseOvb+w8cuHV66YnBo6Qqs
wXY9/BBSYw9vWYMU2Lo1Q3BwnaSTlyOd7BX0FyuHOqOUOaVWzqivHYMYcEkvb4Z9GIGwqJe/jSD/
Q5ZexvK9nMh3EX1ZOj19CX41+R1MqO+L+tKHJLlXpi7JmIDrkP1zy8ZE9C/LkP0WRIEg5ByO+UJe
pn8u0VNkJJLxmWEvGywxblx+v8hreK78InRTbSq+fayAc4/cew1x78GO5ayPMRtHR2O17camaFPS
u3XBeQv8fsZoHExGqpIprYZrSvh26HuMAYdfGw96YNhZYtE7uGQUzl5aawkyvrKon4Vuvw0CAxNt
jcD552PY/FOfgIvhCWxd2Ugio62T4vqaoKIRrKLRmzziwEvvDoTwKmcw6Fw1s5wBTCBUpbsPOAN1
gXFM2nF0w0/2IeMeMZkFPh9ENi8MnZjPgcja2cFlkR74CYajLdGeDUvXYxKLjB4FvyIqy+1duWMl
cOPowUdd/QOI0/FsA1CVaF4QRe3jGDDx1HP8W7DdVV/WwH5NG3XV2K6/wRZzR7S1iQS4g9GxaFpw
DKyuCbstZtLWJ5pG1Bahibwh9QkBN9lsO1wW9tRZNmy0NGobLZs2mutd4dJb7U0lLdaNm6zNuiS4
3Wphw03890BvE77ObAyzRgu/JdkK2vkftUpruZ9CE+I7Tlgfy50PsFnzgSb67hsdYTbkunSPy+cK
07fciZ7C7P79Hi8bbmDtzzziZtzBwP33oWFiHI9/FT8FH3kkiBNCqNjUSkIvThm/6QG5MwMzeKKh
stLv0BvdtDdsKXlBG/FU2w5fY6tyRUq/H5l/3GKqcPpKtO6gATyLZlmRBv5hsKoh7DJb+OYF/bg/
pGdhCbTiVTBpniAGiGUTBYzdNnfEC9yfMoi5wQp32MOfBCX4wcfAgA/0+h2M34vcRj//PT/j8BO6
NUztAd+ELxLrT5IyEnjKjHgpRZYYcZZGUlhfZxxEhokXwkiL7VftPA/Wtbi8Xle8Fp63kw35Bmpg
a2siDmsGfKGDrhVztW26VCsA3iovgPE2XZt2bIWr1OUM6ZhkUp8wtPXSdG+bIaFPJhldyOnCMO2e
2ku9jeYdBkFDSgp9t6/K76/ynacZdvh8jjPfRFdK9D33gG8JONjT4AUAUTgi1GXCKqmIURpR/LQB
oxBnvV42XkdQ8A9UCyhUD/hD8EXXijGEQ1scEhwQ8REOc4viMJP6E/gKOECiO5jhxDXajAtMsna4
yHUGxuIsoRtigbWWAC1/+MTh8JU31MeCDGMy6xrqq8S8p0nqXRJvRLNGL3AK8WI7XhRNOTJq3ck8
z0GGHqYdkAOOAMPhnCec+wS+x2/COTLgCG13HCeLQ+k1iVakZxzwx1Q9lcA5ScISUwcQ1yBkeT2a
TCZJrSBPGkRxO6L2bwzz1j2wu1ynjTo8peXNDbaQ02H2sr0zE1abw2+df7HWoOUYd319VU/PedUp
381LkQvcwAWZGmvM6maDRqeefw40GgMMax5r44JgXnwBA/rhmgFE03YE5HlCnAfLuCylQZhTSRZA
WyZLb5Ci38gBC8dDWP+Guju3XTqK5v9eurm9LhB+GadFvQwceKGTH2E8tWGD5Ws44WnFhd3dC+wt
nL3Vx3UvCzLOwONB1hl04/FtQb7HFWgcEEyAkeVS4AFIwyXdxBRaQUrn4sDtX7B5PLYvRFoiwg25
XvpNC+fh2K8+yYbdEctze/A7UD7bY7d5mtyRiLvJY7N7ZuPLGYZxRSL8aVDCBT2s4wz+iuBntCOd
3o1o1UGNqkfFgCw9SD00lrVsm/kbGLz8fJufoc39Y7GattHd67amNi8nr2wm/Co593Nrt7Zt6ZlV
m+wZCkdqk736YauT8RvbvE7oDNKeviRc6uM6Yf88/N5nwO+ZoM07E7+PdMG++SAUZKEzZLUJHxif
89B8/Ch8XeB7kF4MxfBzWU9gwltZ6fVVVj4ufsLXOa/WG4mgC5e5E/LXPtToSDzXTXVmR3RLsxy8
VL4ZbWZCCxP8m2/+HDS8yd91w7efO4R+Dy/csWPxWMLKWAym6vqWWbPW1xgMZsbQZXzrLnjXL/Dl
ye8ehAf/g1wOXrgQLry41mC3MvrQSAK2zonqGLNVl8Dr68ADZsPvIpvahGNGdpnvxmVHFdJ0KNNK
cRb0IivCcLSuoy8ZrRr0+3VlJtpe2zIzFGTMJgd3o5Gmjb832mzGy0O1wVAATTPvaKqB9U2G0i6D
hjYyWjoc6LjV5LCZyqv20C4a/TwR8dgMLgbaWaI/qBroBScpBq/BVwhRkx4gM8BmEFZ5i8zIXz3W
qyyWfbSP8Zk3bzUBH/9P9MZs3mf3OnymLduM/hrmhMNC2467EJtZD91kpRk/c8JutdHHXQEHTR+6
yWJj/FQJRYNNYDviexMa0zg1Q0atnAwKNp11pAxLp+ItrbXgu7Mv2DCMfg9dvWzZ1csWmnQ94aqo
t8yo1+lq/Cabqa4yGKwEmzYMg+GN5GJf0Qt6l+NLyU16U9BfZQmX6XVGXWtMZzItbiG2ajacAI/D
Z7FtywT7EAU+z39MxFyPrnDCE/WgH0zTAXAluB3+QJizUvI5SFYSQ8M1F1xwzfpX5yeTVdVJcOWa
mXDm6tXoEpwRg7G2NnTBbaEGE/ABJEHVaHykVNMYsbBa0V9lMf7atHdBlFQZuBm7qzeDUEMI3ITD
kDfh28M47gBuwNf3DgbrggdxTFK6+WWAwbqWCSCcn0Syu0WIpdkj8sEvey1QPsMWcDfS/X44l9Eb
l/rdZoul1yvY9So0l3ibrJEI+WuCOZLcATBu2//QXZev8URxCP35S7fBzZdHPZPP4YwpQPVSf6Fe
AVfgdbns7Ine6oC/utofqAYpbPhIagT6/uGp1aCN0lM61Fc6TQu0dRm9jpbyIf3Nfr/FaNhIkbzX
OiSP40j3G9GYVCjyRnPkTprE/aD3/CVXn7fkm1jK3seXS6N1jYP1jeD2JT2wZym5XCZI1bPxCljR
Si5El/cjuaqV5EqMfAqpkukcQ07lbTcAF7lpLFdpKfpv4TkjZ+Ck8xGH1eI4RqTo+pusSIqkN1jS
hDdknf8TcAbhTPImsPlC/ZVplWE9YZBwzlRKnIJj3gIRKXHitq7EnC7aISRO7P9JKZQSJ8B/4cwJ
r0aROfFopIFmb8l4KRoh30BzH8k3qC6YcZDKDtsWSEAoyQR0VXMRXs4K8p4NDLFsdi8AgyYjCeow
ZEmHBMM9BIbGQjAYiIOmiJrHCkACWkM1XmOfKxLl2D6jvzqsCg+w1Xsd5dZFfv8ia7nDS2VguoPA
1FaYLvK8xRyfuABw20wO7CE3VgbWWv20/EEVyl86HCadGfnOIekGmXkRzisJnFVUsiCk9gKuRgE4
1yucEHUajqp7JpiW2L/8k+ZiNOerxvmXOgVkOBEyxxYQRaOJa8ArwKKNuKscCKB2W8wV0QJr08D4
wI0tFRUtFT0f74VPTB43GV0cAcSltcOJcBLWzZxZB9tKo26IAwTQzdcBr+BLRqY+0/wn0sMxrH8I
rfLlloRJFgWB0B6nuYgeLHA1gT/i3BL+ecCSXJO/gtnk83JPlP/fBY4IGzzzE0e9wwJn1sozT6Ke
rTdH/NQU6BBzRlaTvJw6HKPIqDm1dMksnQQfWHddnCjxzisfUs3UWbi09DKi3ZeyL16rlrGTztfZ
qrmNCuB19SIZNppszVMg4ebNjObJzb2B/5L0jrmckcNgxjCAbNWiKQwSWJHRL+/lhwf+S6ZmJi2q
+UASHDdTDjwTU1UvxaCZUOqYz/LDpJmRpWnOfKgClUaEaReZH7QXniEUA+6HCtkdLgDbLjUJPnOz
GuEgpcW5Qmj8TFLORyZebs9mmXTy0MwMg8jziOBbWayB2l6DfKVUvrazOCXddkeGJbLbznbEIFWK
2p6BxtskZfDI2lYb/XQPXcphlvej8WZbEM3UZ6ifWeIYVuf0VGBE0x0eUwxdVn/nqWtbiHML4b/I
ejnq1R5PZCfjdQkp7ilGSjmXEsSxly4l53mcoeDjn2eDIefnb8RpeuCe/5ay9Dyn0PB//evo8q10
vp6QI/O85hDCdEbhTCV7QVOpmsf0Ql4jmT/DCf5BxVQiuSL5RMjXwTlPlfmznhT8q0yCej/Dxmr5
ULA0exld1q8Z2ejKHG1ny7cp45EMT1+WDQI8LWPrM5+qZWVl+r2HrOnV5dFueXt/VMnvW7Nh0PRn
q7Lfq0EhwXAHoXmiAM0LcoZyCPbnZQrVEbGpsQPynQTYriQyGiP6v4BcUvly5EwKOQV+BaGuVNWr
l6rRC1CrqQPQA7vI+gjZ2SZF+RPZKwHEHyi/+gAdqrPtv8ricgZsV19jDTlZGj01BMAf9++nG4LW
aw7QAafLun+/zckG6QMH6KCTzfAG8kHCVI2Ya5buRYrIpJcbhG0iDpbEXRhWWK8CTvDoFRNNFtbu
ohsXvn70ypVNNGNz43t+Vw2Y2zW28eD7Gw/W8E92GfubaJZ20M3rrkUoz2qmWSsjPoAt83rByvrb
Nk3etgmO9fHH8P4Hki+G9L9XzKrNmzGmcE5yEsgOZUQ1by4ZPJNtfmT9m3H/eXwT1QS2SzMSW6UA
JdsbKcmb2ZbpH/skTUV8EvU0upxJjwIWpRfy17zQaERYBDuWKiwh9kJA/V4hJfuUMKl7H1fnJxQU
8tjQOLmQ9ObPZFO4DCqJbe0y5yFPjpvCkZByXr9P8vnT2R3xrLRXeeZ7K3dvTt4rMeeJ/VvgxVd2
otsXBttI5quQC9AB/4g944rWlLA6nGiVNnaUpRON03tmpGgN4Gov2VXnWZFqaMEJCJH9O9bt3nnk
2hXuQGOl3nY+HPObqsJ0fA6sTQy28504/g6+t33f1gVwR1f883DFZujDukHI+3qP5H31nkvml8KC
Fk0Emy+T02nlhEGQbWT/T2DOYpOiMI9kmGa6MGf7ohLMfyMwD54TzGq6oSjko0r9ME34Zyt8XBH+
kwj+PmreNOHXFDT09mnlD96d1/x3TCOzEG7IcQcm35RlG5aIeL1OxqWHGjunkSmgJ4sO0JMKXTnN
8TmgPicQ8dHUi2sus6eJj00WCtbIcZNveMyLi2Z8YGB84HYRo1YSrSk4Kitm1sH63t56WDf57QxO
rekQDuG3DzUHSe6iHWMBxOzFllRmRa9U2nKWwS97WUklxxE5UhBYcZbjHP6zxbOtJW2d7b3tcN/c
Cz8/tvXi8y/avW5ooK+nM0UwHFt+qHngkrm7cRbks/qFHYNtJpoRsyD/NKuq2oHgjtY6BseXKZE9
fzyTHsk4hbX+1STP9KzjQNTw2lYSB+oav0g187RnQIwDjTvvWKWWgUr0j5AL+h7JBW2eVjaowuEq
lhz664xez5cnCkvkmjwDkxlZ1uZc76s4iKAuo5i/WgS+rHUa/t18mawZWv0N+WSCH6TqlU0Dugal
8v12MRjvzlK7/Av5oCwRYRTWlSNUd5HI0TSAvUOhiHTFYFVdnuZX5iUsnPqE5Gu+RxkzO9nUw0hS
AmdPhqdSshRW2CTnI4jzQEGM8JE3Z6VOI+/mpgy7rJPSZOVsMflXeaIsgfkj1HY14YUwzuRX4wR5
D4eVQ75T6id7aCdfzepJM/U31E+rOJ5VeM9wAd9b3uEHimHrl/pTHZ7JjdkICrmiC+B/UtV4xg5k
E8OcPLSAWHJDcLwzO3qT4Nim7Vq91eldrg+xfrthibHU6vQMjzdU37Nv1xeuXTd0xdKBWYuW9s86
D/zHLU0ap9WjrzLb2JDXWlnCoofg/v4LZ178wJHtm6/5Z8+S8/p6l49LOac4T/Ykmh93TyNTtnBY
QS2P9vP54015M2xhl3q8Sci5fY/k3FYXzLpV8LoyCXdIFnJSzccF7yv9YalvsxB/zJ3F5k0AHpBN
YrPByJaLE3kyg6W+BflozD+DzZ+CnDOBVcChkJsb8+YoS7CcJGPQVnAMCnumyiGpzh+CUh+hSTUe
KRHhk2Q8WXSGnZdoTygn2Aqaqct+VJ10GuT3zkFz0N0kbsdl53dAaRcA6t4mu4dafhvOkwB3ouuZ
tuqq9irhB9QFa4LoB8yOeUt9sZiv1MsfRFcEJbrIx8l7VvGolDwepUV8Mz7stzmsLO1vP3bZ8qEA
uQ90HOP/7PxzVfPw+Bdnj7N/rjQ2BWxOi4MODK9BqDcHbYzFbg/MQW7Sw8DeWP0377rhr6wbgk1V
f/MgfSPkK7+H9E3jNDKWY4rQsVoC899lTlH+XOYVWQKdgcNM4MiWZrYYWKAxI9MvqYCUJdi7C+RX
S3Bg2U7kkezi0DQr5ft5NZiyhfzWAlBh/hHgEuSos7AUlRYF8G5lSHeHGoCqEvVJQTihmG/9HpKp
lullXCt8l8IJ2KnMOBfJxc6KR6b3crwrZAGxqvvruAIb7LJ2cmiM8h12yp0cGpEGryMa4Pn19KhQ
YDwLk+RBxVgWoYt6HJKS5YSsI7kWlYXzdWTqskBmxbWyRDnVrIpfi8lzUqzlWRKT6DqniIQMpKIR
iDdlgE0z+kBLeX4SnY4Uz+fRJOVDL1ncQikz79SXu2xukyc1w2Vy21zlqlR7Zb7VYnOzDQ2s22ax
UrJY26lzj7XZ1EAtSshvKQGeJjVLslGAVMvUOPwQ/ogKknVrOUW1ZQ5W2D7cmoqlKdtCiKhFXynV
spV14arEnIYh/ol2WqxTU+4gdHvOqne5KjoN5WywZnHTw1K9Grz3dxzaIEs1UB3IGpPs6uywSg7R
MnBk0Q1sSVh6t6nQyVVVi6FaL1LqvIYWcxUYUyPPaTcba8cgVr8si9MJdbKeJOuqLfk83MIbd+/K
qMtQ3to3isXWvJVwoLhv+L1zh6ctA08k757iXC9cfYexRJ8rkZ5tmt5OZg2TVqrICuYvB3R+zI/c
uLaqvGWBNHPSOjRNl9fPFY7826vjEhz5iAAflMMh0OMI8l3acC1c1BsZmlpxUzwCyT6dUbq3NVyN
3BeWi0ZcyH2pCbXnJZRmfvZK26UF6ygJdDr178LXqYSvLT8vHc+eSUUL7FcX8pLe0hxG8EVJ5qwa
hJq85Z/A5Uq4/p5TEEozmE2vn6oUiNKQffOnkK9iRjOmRLqqcbqo8TQ30t+oAS67LVhSUc4YLam8
u+pTV9jdfoNxj9t6+XT21///kX+D6fEAokct4Zv0Dh41OmRXTlVUFqi0MIylUk6Ja/Gba7OrDACn
2cJM/k5OivsZi9kJVOkh5LItowJ4Lb1YrqHMRSmQaDhf5pzkJqdpQNpnEuKhz5L4dsP04tsyCIoF
t5fKwMgb3XZIXlGGFocRLeJFaQHV3I0CRNmsdDRUcjA/VPGLBBqdIjRKTYtGqpAVI9ZFSvDyUkyr
BBKm8yFJPcxiPCQ3HQXodZtoOlQYKJGxGZp0TB3Tp3F6PCSHoBhd7hXByEuO4QwwYv2xcYhr0RSh
BNknKvljyElTp8SEK2Sy1dRGqpJzqhWECDA2ho52GrSuYHVtZZ1on8ZJ7ZB6qhWBolhD05qBVtpL
K/Qpp1GpQDdYl4W9tdyjq2PYcGzGcCRgFenD75VoxkqrZXZbOaur5hh7GXIC62rCsRKRTjWIatmy
JeTxqlqmIqmyq5Xm6c4CubIKO3Wzah6vJFvSmpEqVNNYhmlSQnZesXWYbLOefwFG8IleRj5RDZ6J
n0UFQ1UtUKSsYYVSCRSsc6jRZ2sCjVjf5RSp7zJ0ThVeVCdxxcu+fE0J+HTrwIDvKedxAr2vRPRO
nRW9s13iwnQek9ziguSVuehp2r5OaNtzTrS1Z0FYlKbXi0BOl5QQyOBFdOT/Qepu2vE6UGlldgFh
PCtNnUU1zjuSEa+fq422eJiZdEHSPqarg2ygMqQZqggz1lLza4UrdYp01XAIzhk47gBkgStBHSAq
nkOlojEZxI5ipIbfUkB9ZtdZ1DGClHPqNPwAfp9qxt42qeSUVX0/rCzDLzmeYYEj7OFEeF0Y+0ph
nOoH5uLs9hB+DuFn/in8vBfM5Z9qAz/20DZPA06MaxCuHhvt4Weky5SCvRsEOwjF2krNCoiyjgPI
W0BH9HRbooKDm1N5iZMcWjfxdu9TrcE09d7UaTAf+bYmWYUYafFa5kimM/p/KPMYs3Yp/Cm9R3bq
96jNXuSzGqUKtapNSovh35e1mLUa3ivzO6d43CayjSp7HlQVYhrgLyv1XhbUbyt0G6FHE9LPRrwu
ngW7ajcSEo8qe8nCJK70BwHVPzVO/V2o/ehsTcmSTrEDIvgf/U02jAQbq0POzRWL41Y3nE8gf9rL
VvkC2K0ReLsJtfUO/BWp907Z5VGshNh0izMmq3z1MzFslbAh6K8WKl+BX/HL0yGqqqYmqwucQAic
yJS/gtSKqdPUn0gerSeHV+SKM037q0X9mLXtg5XpQKnWlTN/raushX3kI/Efkdq6drLCpqIzQZGK
u2C9TO3wH6rX331YoWyAoUhBXmFdn3+f1AazY99SDTZNsYphICYD7nfq5cNOyGGjS8zAUriemOBX
jpBc8GDePJL0fsHHMvG7PVl1hLOzv8eyqgoLuSpVmmPFc1VuzrS/XhxjDZS3nMiqbiaM+fuk1rEd
VzEqRNc0EmBARsd/ZKGRQz6noj4ypOL8+9SrZBxxHbkC/RGEDsq6SooY5RsjCSmYrt9slp1pJUV/
ctGplsd5Xs0eFmc6uMMnFaiI47KexJm8efsRT5yR9/E1Kd0mEzrizflwIJWQcqpQA7lKyC5JDV4U
FUNWbWqwLGueKMC+D8FOai1IxVyIZ5YF+L5gUxD98L8QYQZXGLCvgy/8F7NhBiS2tQnBjPcwaeW7
ZLURMxAX60VVKUop+MKjoFuCvEyjK4NsMFYdRXZXr3eGwI74TzHwnncgBGG2ymg8jTF6u0oTYqvF
82Y6hXqBQCua8fSqg5RzL/XE1HEtnE6vRx3Y3dItGDfzpzAS/4KozSpjmRaUk6KKGvRYk9m7pr7X
AxTYygYOZmSRf0xt51q2zA8Wqcct5DWpr++DYmlOICED5h8qWU2qGW15awViO/E80RmN+e1EXsJc
LbcRb6tRJsdC6AsRR7ANuDZiQdtQmEBNMqBOqhAoV+kUoxHhm8PiHp0CkXB1It2knNLzaoRShhle
KEInwkOnxNyMfDAVJtQMJWDfUmMnxbLBxkLEkvYArlPLJcq3/RA2yDxbrWJDnUFwbs/8VXXjo5RL
9CzRfZXZ/RVKO3tF1uURRfaUWMVm8u58+VICjkcIjnX59zlSao6wcnsjWJYTKFHb1liujI8IeJ8i
uW6NBXPd1OMgihS3nKhHnsy2D7LhKEnvd83sq0zrM8F6yp/ybkD9xF/eTvtdDUinvZu+9f1edSes
y0f3ejN3+bbEpvPt3pPl2xWArVC+3T2q4HWrZkwqwMubOonjGghIFzn7BFnbsBgIyBOyrMBlKQRo
vvrF1984DuuIqcXFKfAnLk6BPidf2759+3XX/QgR4yV5gPJC8Nv0GhLhHc27ZG+Fg+RPSXsr5DiX
kuU1YupFHcxK5VCzt1OMA6t2AG+n+K/B88dnDSwZh//f3J2zLo5yF/Vf/NCx3X07I5EtvbuvJTHL
RR04Zsl4QX332Bj/ASHH2kFEjuhgR2u886GL4MXH2uPx9qMXSNFglqxF4nMZkN3G5zIkpn0yQyrb
sBY4qOGIvKBAoTMbHlHmUeGase+RtUk1X169iOxvM709p6wnq2q7c6rLEpoguy2dVdE+bZrYVQxq
AcLIY2WFKTNpV9h5cX5Aaura8e5GtpAtzyGSfLLQpaRSPgOeSyiJdw4TOnVMm05kIJUGtQCh7s9Z
hi9Irc+UNYhwriXmJWzP8eplQXueQ6w/Kntfk8NX6kY8h2BQOJOE5Nn0qeS1nPUhJX0ZZvdP47yS
7Pyb09M+vQSK9ZaxLA7lyuK5FGD+LAM5N91SzNni++jZFWbGtYBXk/NgkE6ucMg2iVWeDdkZOHvX
6gTZMdaxa0Uxiv946Xb9XrJ7bIl5cDrUFmpbrya1rWcWgbMYmRnw4tJhAdTO0f5pkfj+ocU6Ad6l
xoZpkzfN1zgfaDhvvs1Zc/egUvC6psHjyjyhPWdxRo/E51hPjOXRE/Zz4XZeiUlq2jyvUC2VZ1mO
HJ8ZieZ8wrlDsXxzPpXTiDpkJiKlOJkox0JYs48qgpQf2SZcA92O82hY1TWlaVRG/6UMhmi+KulK
YF7LXzUdCmcwkblmVd55nQoxBpTjZ1BQRDm9fDHn7CZI6sLfpjEiHRrPjYFNhxygWR4bi+cjCFyf
DpZNPpyXGFJtjGVkZlG4Noi8IqmyMIhWnt+cr8SExpheRJH2PTwrVtIpug9Evl1GbRPIFnnyUP5d
INtECCS8b0B4NxXGW31hXkmAUE5ect76KKcVCzASLU4hWiSmQYtK1SmvGlEO5CQJ5afMKpVcJoFG
PyBz8LhqhVmxvlOBOiVfIvvWheqCXcoaLifTe9Tp9L70M98uUMtF3JeiqSMwteWHqfielFUywEC9
2n6U+SrQ/TT/dhSNrM5OtZiNUKDSTv5Zcg5zdalOjQtU4FGbJKf39OC9Vw1kTlp891V+IFUZ7iFV
QAvtylKFVDjjbpyccVdFsuUbQF5KZtYoK0FlePcBOeUO73PhTP3RhdFK8/0H1ah161Gd1xsg6frS
eRrjsB46Ra2UtXqJ6wgUOFtDWsgsN6gcsZG1nqmts5bk289EzswjtYra8+wHA9M6Sg9GlZvC+BNF
T9dTFDKa9Bc/bQ/DLJzrgfewzci7O3Uax33klkh7t9gBIMqdq4encSCIVOfoZspFKgLlrXOkSvzc
akedOYUM89Q8UhY1lO1f+xvFER9pOju31MAqvGVrhhLCYnu2ZuTW7xVototEgFsLUa1Q+f1c4j2s
LMqYj3bqBRqhcE5ivvWmAgcngrWyJZ6/5DtFUVHzVPVQRSiewYLnxXV59qnkO5QFsBkofpHngJbs
Ce9Tec9rkWixS6huUOjUyKzkt7xHSH5RXBhVw1qe1CvkzBMavE75xbz0Akhn9Z7vWJpLxM7V0YW3
y/ehCHgXXDsqxAkblH79d/JRJCdNVf2UzQw98ByypQhMeTjDq4Rqbz7+UEwOm/JwCD7j9VPwPvwB
iRRGhON7eoA44SDb9NP1J9DU1SJNPrRmsCXA+ZytBi6C6/nHbZYF87xuuwfBQZdxMa1xgdPvd66r
NC/U+liHH5T0/NBfE5iYO6aBGAZYUT0QqPH/Yt4QXi8gtatLaomstOFooXLv9VkVs74+Iz7eInWt
NTfKxOjds6hxXSrWezol1nsapZb+uxWfsmNnZnD2BaBk1dJ6z7UWFC8jyMvyulCkpjfRqUnihSi0
6lkU+YZbMnBOHp52xe9stdtZuP53iVjHSqhxFMGjo4DY/n9W2Ar8IoOP5t+scaVSLOmsCl5l1gWF
Gg9906nyEJOKjcak8qPKco75ipA+INQePSaWIj2VIUSBcqQ7pSqkp8WypOC+rKJ9mfXDs8Aht1KF
EofpFa6QFXE4ixoW4APFWSSQauL/QWLKdpJFrxrnOuuwZ6c8hXoaEU9lIvUbZxPX598nsWY7Pg+K
nQ780wl3fiTDQD/dSKcyjvfq2UU6cQz6IzR/8wnn8VYQ2U3K6i6Q093iRB8QLmsFX+f/RfZ+8E/L
9n6AOem9H39CggmaVc/jXQ3ngjvJvEe9atWnSr9bMV0R2piH2jhF2lDzEk4r3QCFucdtLIMLwH1C
G6r5EGCDMhAEF2SHewD1DYRLN/LfjEJ2W2bjQbfoiMldLkTn61Gf2zT1JA6TNwoDYrIgC1ygEk8h
c+5np8bBKtSzCXFfa4rNTOifbV1QLUzg61pKK0PyeXo/HAJPwpM4269wUapDeQsLweWqdawhNYRo
8YyY01AwnwF4VQMe6lkKAtwPIlmbMYV1haqk/Y9MaJSyIIsP3EZV4FlYalqhAMUZ5XzRMABgMyV1
qouFAOBpRX12KR6Aa8fGp3nSp6JeV9GDPx/PAFj0DFC4RHkOu0RDM9l3p7Ad04uuRGSzx6eKEjTb
n2krHlXJ0NCcne8jrbVOI5pyIgPiW0XjKFlzzMeKRlE0Ig2FOtYzC9cHMoBpkfSQIhTwaPFwlXqN
62eL01cj0leob9Rb7EyQaZA7p2x9fVGaq1cQi03nTNvp1+rOroOXG4DplR0ikrdWt+KsmXOouZQF
RuFoVVcGoqI1l+SSDZCkfAp+B7ZhO5LKOqVuGxuJsKANXz+NsK5IxMVGhO9r5uX9Pvyy8vud4GHq
FPwesdVIY4uuWmbz2SnXkMYVrgyEYy3ViSD8okPr7NdG3eX+yqYq/domfEAbxYFj1Bvw+6QN9J9i
UnFayQhwrNRGc208CL6D2phVxnmENtY0kzYCUzupn1G34DZYtTYCYhuRyub65uBuZykrgtFYbVgV
ryX8g3ABbxFccDVDNWy0ai/BWy4ZfKG/FMIYQevLJQFefwXHwLcIDarzUCFVnDT/ndV1LqF8WS+E
rlHfiHbgGUK76jzUSxUnqaxvBEkOgX2ZF01VhtUttYTX/go2Ipx92M8jRw4ngyBWmcSn56aSaOrc
CFgnktgvl49bGcYyrgPOkBOUL7MwjHWZFjABBpg/0AKHxewA2rU2lrWt1QJ7AD38j9XJCL5F19Rp
cBHqoxGf0JvuI19vWnm3T+nGSU/l5ctyuxdfLivHL6OoX4fZgjo+flwVHvI6YBfeErg2UW+BA+A9
Uc5kJ25+3LFocfuMxYveWtgO2xctQpeFWDf3It32DhojMb+5IrNbLJHvHs4Vto7xn2Z/jgRisYA+
34XSovnC/5bcD19A3qcPzUDbqEFqMbVWcW6jhkQ8BFcay0JpFhLhrKfsDM/sp3DW08+HV6y8ffnK
AzrwU72LZnV8wsjSTs0K9Ho2+uU7pRtbBDnB6FfTL97wJ8QbMLFxBM7ZRC78CyYT3GVjrSbT5M02
1iP9ZWRz5g483V4DazvIhf9C5j5zIePVStWAIDlTkkqpnsn6j9wDWHOOW8U+OmqnUWjHrnoG5e78
R07KDpjEME29M3Uv+B08TVkoSqsYjiotOG4KOHxafiX+mGEyayi3124yT6IPoS74h/BB+BKucV4h
HEQZk3a44nmDdE8ioLLZrFba94onJNJ9OhgEHzSOX7f9iD+JT8yOAViFP9sCd2+6bqmVc3mtHfMT
85mnaLebfhGCH+HPZ5jFHaNdtIcN3cSYd+/f7rbRHqMnaHHTNvem/RusblfEMTRzBnrtNge8Jg96
3dU36giRGJf8POI6nGdd4ETirJJBiqMzcs8i1jktl/TPX9Y35Aw4R2ZHa6orZqueQvxVkLI4Bzpg
96ylSBs8xvlhICzo1DC4Gt4Lf4Bm3AvwqmmrMAdOyc5jFfYZNYozy4q0u5CQTptWBBKEQ9rFZ7Ce
Nmpp3coJnVVrtFpd1hG92WIYpo0Gmv8Pi15f3tjkCwVr2lM98Y46i8Wg08YqPYFQbaqtPzEraQJH
gcZIW+6800Ib+UnUgPGZCy2WnU+ju3q9pSzstNEOvbkyBqpb/TqLwVLqYqw25J3UVNTGY3qMHwMO
wBvhd4U6UvbMZneRvLhAXC7SnBLrPSN6q8XwmsFi1Y/QJiP9W4SVTbdiQkdrDTRGZrbeYjbMpg1G
Gjx00uq0op+TRpo25AUf8zaSJNgBjmDdilc3Mk4MhPxunJgEbnSFwyAWZnGuEhsWalTcRc4qInt0
geyEY8njDTkZbULaG9+S1LDb53iqvJzv/FlzjpLdAlcdFDZWTNy3ZdTn8VWGxr3iDoEScXfArYfl
dQJfKHJSQko+FXbmrxmYP1DeVOuZ1VA/EEmGsgsGJlSj4zatPyYE/GuD5rBaxUDwU3mMQjrz4WoR
j6X/l5ikCp6UUhix9vynppwVjieU5/oFkQ3+C/wDVYlzIFOZtDQSGyeiiQVVlqGGpLxiel/byOBl
JKa2Zizso90BxmwYnHD6A8yKaAsHLivwxxS4yF8TiC2prSmFPgcTAHC+31/j528hhQXy/w3zIcZn
FOGD9zD1IK6XbUHPqvU+TRzADwT/Qifu8+TvLwA3PJLeuT75nGwPeWGYhTGYhWA24hhAxblA+dPp
gJeS7UstDBKSAwST5oU0HTf8+5Sc5tc07dkEn4yeKxedy2gUIQvSw8g+wyakU5O5tV6w2RVNhmim
ZetMmfOmQOrQWjbiclqHVrb3L5jtZ4JBJtQ5PLNtpJt2usL0kqu3Xbtp70HjErvXHTb3pRphYzxY
E0zVw5rWXhrpd3rV5oXwonjjTrji0hyfIYmjHPl9hphsz0b2lg2usPdQzliunVMVXDysd5htplUL
cHmP4QmuqoqbUPUingQzLExVsBme5xtH9o6hL7sAzTGeDnmhL0hRVqplqg1eowlRtLjXbYwaR1x2
IbWHuhbNCI5SX6K+Qn2d+g9EZS7GaTm6JYlwoOOpMBvXMvFEPMGh3zC+Q78cwyVK0SB0YUwQQrBM
y8WQ04GQdrDCyQqpOJuKJVn05RQbj6VQkwktukFfwtUEE2XER8EOCaIG+RZ5zYkdceiexR+xOBtP
4V/UAIYrliLhe8bBCIFdFn27BbtiRFoYeM3r5cfLXzPb7Kb1ATDXf8GHlsrKWv49S6PF0ghK9Yag
1VpuXGYqKQFW1mu0mpFbb9cDo5EuO1pebtE7bHoHqNXrjHraUd7pMJsd5pBJZyu36b4T8bCsZ1W5
W1vu3mAuNwBDublcDwxaA9DPNZpN5chveMRg0KdCOrPuJbMZNNo9dlgzb96DT8w195mfmDcP/TxW
Ej10yFnaprEZgwwTxJm1fivjcpWFzLsbjOUOj8PlClroEr2lwWI163UWi05vcPpp2t+gNWmN2oZQ
CP00RiKNHPp3v1Nvt1tmM2679ThdrrPSZQZDGZaZV6AT1MPfUmY8J87KhH5FnuMMW9OpzIJPgXXQ
86JtGv+/tk5ZevacTRVYn64Zcm5axS0vFvD/APj0RLoAAAB42sWUzWpbRxTHz5VlKa4/iIOzCYUe
Qglyan3EpBvvlGA1CU4chBwCXY3uHelOfO8dMXcUcemupX2CvkOeoctC6a7vUCh011U3XfY/o7FB
rVvShlIJNL85Z87MmTN/HSLi6CuKaPkZ0/eBI7oZnQWuUTP6LPAa7UZvAtdpL/op8Dpt1/YCN2iv
dhK4SV+u5YGv0c36B4E36Eb908Cb4K8Db4F/CLxNn6//HHiHPmp8G/g67TQ3A+9So9lCVlF9A7Pv
fIaOI7ob7Qeu0U50HniNbkdfBK5TK/om8Drdin4L3KBW7XbgZvReTQS+RnfXfg28QR/WPw68CS4C
b4HfBN6O6vUfA+/Qi4YKfJ3eb/wSeJe2mrfoIWmaUUWGFE0pJUtMLYppH+Mh9fC9DxrBIzE+wmpJ
E8rwa7y9QrTzDOCZU0EJ7BUdwPIYs5g6nhO8r7gi/o6PNH4mqU1P4C9AJeKY+liXYRxe5lb6mfO7
iNf4TbCSHupZZdQ0tdyK9/mw17vPo1TyIy0nmTQ8qmaSB3peJKY64MdF3DngZCwu/Xd4YKSR7Se6
kGWH+1nGQ7dbyUNZSvNaJjjjE6RmkYSg3CdxcV2XAtNTPyrYcizVNhU5D92JMuGnMlFzmF3iU6zI
sIfBVE7nmQAM6JSeoZQnuPADOsJsBNsxvaTn4CFmNDh9NjrpPzg6HQ2OXz4/HY5W81nNpn1VNiGZ
9kUyL3wFSyxyFWe6hzq61z6ES5pS6YLvdXq9w3c+aLVuyj+hk4LF8cJvlPt6nMOmIY3/Q2wuaoFT
FfZIwS6jCuPYn2b8u7nMbYhN/E1c2WJvsVi/nL9CXsavTfxuNhTYCfpCF6pkwdaIRObCnLOe/Hux
HvAiVXHKuah4LNnIqSotvAmrgmNprMD4am5UmajY4lFLpPH2daErDyW8hEZtFG5d/nXsSI+VKFcD
F/7bQVncU2qU1YlghqJXsMawQDGLxaJjq5meGjFLq06s83cI7PtHWva4C4HZILBjL6E2nYV+wvgL
Kv+khbe4DjT1F3MidVbro3XYYynmib+y85R+f4tEhY9yJwsvi6WQJpeyZR+TedFI/4dw8a7DWWR6
RF183+bKXZw5h835nQy72G3ZYDp+txyMF+9zjA7plGahtOMiaZ+hr/GJimVRSu5PjZS5LCxbjRXQ
50RjUuqJXQgjORaFU9fEiZJ1kalCsrCcWjs76nb/XPVuOZ/NtLFdiQbXSW2eIYf/5nL0D5L4+x7+
h65Nq70tdLPfAc9QxSt42m2TZ2xbZRSGn7dN7Dqje++9R7r3SFs3TZsmbZo03emNc2O7cez02jdp
0pa9l0BI/AMxJCRAbAoIEHtvxN4bxOYnuzj3M8mtxJX8Pe+RznvO6+/a9MJ7Tp1kAf/zKNJ10Ive
5JFPgCB9CFFAIUUU05d+9GcAAxnEYIYwlGEMZwQjGcVoxjCWcYxnAhOZxGSmMJVpTGcGM5nFbOYw
l3mUMD+7eyGLWMwSlrKM5axgJatYzRrWso5S1rOBjYTZRBmbKWcLW6lgG5VUsZ0dVLOTGmrZRR27
2cNe9rGfAxyknkNY6sVNnMf5XMMFXMGlXMstXMIHnMvVXM5FPMUnXMet3MjtvMBz3EEDEa6kkZew
eZ4XeY2XeYVX+Y4m3uR13uBOovzKVbzDW7xNjB/4iYs5TJxmWkiQ5HpSHKEVhzQuGdpo53uO0kkH
xzjBcR7kBs7kDM7ibH7kZx5Sb+UpXwEF1Ye/+UchFXBKqFBFKpbUV/3UXwM0UIM0WEM0VMP4jd81
XCM0UqM0WmM0VuM0XhM0UZP4g3c1WVM0VdM0XTM0U7M0W3P4gi81V/NUovlaoIVapMVaoqVapuXc
xd1aoZVapdVao7Vap1L+5C++4mut1wZtVFibVKbNKtcWbVWFtqlSVdquHarWTh5WjWq1S3V8w7fc
rN3ao73ap/06oIOq1yHe43M+5CM+5jPe51NZalBEjbLVpKhiiuuwmpVQi5JKcQ/3cj8P8DT3cZJn
OIcnuZDbeJZHeYxH1KojcriMX5RWRq7aeJwn1K6j6lCnjum4TgTdZLykpLQkWNpiRZxUMmgZBkob
HLvNDlgegqWpaCppNwctw4INjamMFYnYyUxBpFsGNkasLmujwcbsHCsTDOcG27nBYTPY9lAQ7hlk
d8tgOLfONgyEzUTbQ0FZjyfaLYvKIqmWFitXRH1F3uYGy8mLZY9geS5LPJel3GSJmy9ZntsaNyza
6p/Y7CsCFVbEzdiBhIeiCn9f4rQ+kzvhIa8iGzYvkT0ClcafNP5Kvz/p91caf9JDsCqXPpVLX2XS
pzwUV8XcZNRy3JaE5WaKU/4qUG32OWZftX+f499XbfY5BjuNK21cNX5Xxu+qMe0Zk7I2l9LNpaw1
KV0P+bVOPBnNd7vO4trTErv+KlibexeuYWFdJO5E3JamhH20sN2n9/h0R48O7DXZOz0U7O35xXT2
yNKuFKbB6pbB0rChZXssrEonrHTM6FSPLtrpv4+0r8hPR2LtVqH/huqijpW9g3aDOpOt3UOorjFu
O3Y6ng61/6cCe0xjh4egnUy3WpEsWzz2y8Qc227Ntpq6b1PKdXrKUCYWN4ZQzIo7nsoLu04q1Oo2
JOLpmN1YmLadtngk+490mvN3zLUSmZB3AV2qb89VdJW9m+qb8rOf+njIW+u1OHY0ns5kNzZ2lcFY
0+F0wo2GvPfvmSprKzxT4l9BUCX1AAAAAAAB//8AAnjaY2BkYGDgA2ItBhBgYmBhYGaMYGBkjGSM
YWBijGVMBLKTGJPAMiB5BgA9RwLlAHjahY+9SgNBFIXP2c1ulhQSLLYQCWGxstJ1i2AVLAwrC4Gg
Mf4F1kaEwWbzDD5FHsDCwsIn8wXimctg6wz3uz9z5s4dEMAAE2xB127ekCnj9c1ijBGw26GvcyJG
DwlSn6lGRMja1m1QuteXFhPjtPOVy647OUUjlliIZ1iJFdbWx69IOw5dPWnsGRNjauxrln0coMAx
SpzjAldBOw1+GW654N9D/SP4z+C/gv/Wy0MkfOKSa95yZS/mqNRhy+KfU+JQlkmVYo+Pmr5Gw3vl
jf2ilh2ZIpYNkfPZNHM+SDPnnVj/KVPOLM4tLiyu7O8/FjupB4jCHJGf4BfrqytsAAB42u1bfWwc
xRV/c7bv/P0Vh4R8x4GQBJxAEqCOAefTSWgIpkmtmgSUImglUvWPCqL+xR+oldyKr0YIocpCtJXc
Creqq5IoMqVRwSoREVeKS9gYIouD5Jpka1gctokvYfqbt7N7u+c952LI5aSyT2+9Ozvz3pv3fvNm
Zm9NgojKaQ7dQOIH333kh1RKxSghKUk9Ebsf+pEqI+cOzyL4G6Hy0mdIlDp1b6ef0M/pGXqJDoiI
uEY8LAwxFqFIdeSayKrIdyJ7In+JxCNnQGNFtUXfKnqwaH/RQPGdxb8vjhefL1lV0oXzL0teLBmJ
LoreGW2PdkR3RvdEX4zGo0YsComRWENsYWwlzitjD6tnse7Ya7FDJatiX8CiGdLGuVm+QVFqkhat
lAm6C/3Zjr9jMiE68LcIT/pQYqHEpHqagnODjKOtifoGWnfRZjy9i2pQy6ZO2atqivXSEBvBHeBO
aYl7wTvAO8EPoH4ppCToKrSYwVIMaoFU1KQd0Hwfyuuy6roUPTOpXt4HSceoAbGaCklK5zT5K5qO
66tRrrwwEzVn4b5JPsaaNssktUPzNvB22Q9tcdgVh8Y+rSkJTUloSkJTUtkLbUn0qgZS6pSnlEaZ
gkZb9/I4alkkRDtdB69OQ50Z8izullAJatuwJ4WSU7AjhdKpXKr6r+oNo9Tm0hiXOlJV/YSuXw3p
KX5qo82o1jnituOndbCum2rRpg5/6+UjjofZLxZamLCqF3Yk4RcTPrHR2hJrEI+14Hb5Z45LMXvM
0TqL5ZZBLuIFrkdbt8dOfyzUquB2CmkmelVGFdSIZ83yE8R8FL61qZbK8ExZ51jWT42wqknuRTTG
dLwtepRRaIn11CA2grfIbnE37jtQpxitLbS20MrEEwv9KkN5WuYAnnRDqw2tJm0GXjuhYzd4DH3x
y9xK5aKTasS94B3gneAHUL+IKtG6Ea2b4cP5kD8I+V3wqAEdXdDRRbPxdA4j6WkeT46+fzNut6D8
LnA74rkNvF2+hX6dALIM2i1fRf8M2NIPjxvwuAFbusRW+Sr6qPCdGIc6hbjpsAL+AzYbue82tA5D
q9I4Co02NNrQdAKaPoKWOLSY0DIILXFoiUNDHBpMaBiGBhMaTGgwocGEBhOYdqSaOjeYkGTCZpvH
XweuK3yj0+ZaneiFM05syLMhz4Y8NUZs+LESfqmCtS5qGjFWWhHz1SxbZQCTdnG8U2IdWrWB0RNY
maIpVAn5VeAaeL8OXA9upAXUirLViLpCyy5c72a02GIdzUF0F4g2/N2Iv1vQ961AzXZqAmqUHY2w
p1Xug+5RoLQVPpoC6b3wqkJUr4NHSFVPlI0qGzp2QhN4N9o72EzAqxa8akFLL7QkFD6pmsecio8j
wdZedFsP6tbHvLG2FTbezVky7fsFWq+tfW+x7wXGrMVnkzO6hVzuZFNlZ0rbyZ4A0puBMpVnN/OI
SuDJYGiMKlhnM8ZMC+6c2oNKX2jtiGdVhY6t6YutgV736dgmVXZXvVbxxHhqQJymoWQ65xV3ptkD
PKB/PPd0o2QYd0OI+UTzTbb8X5l15sjWogxWLeFMexXNgnWHMcaqaQZKZuLvLJVp0U+BWg2wSfW3
hse/AZwYnB2aeNwn4LsT6LvBfd+BWOzizGTAXzPk55zNBVYAMc6IVehPLTI0ZljInQrd06D3auid
CZ2z4adraTEQu4JWUjO10B3A+wZksXbaRtuRyXbQ/fQQfY++j4z2KO2h52hMzBNrxFqxTqwXG0Sb
2CS2iK3ibtEu7hEdohO9iCx9XK1CFs+7/hAkbcLKxYZ/LtsxXroqUWXZtMqkjMsE6E/ynOyWXdIA
fSLNAJ2QlhyQfUx/BV5ysaRPviJfkscg+TN5njUk5HmUWy5xrZPQela3GPHshU7X4jB/ZZbl6lHo
0i2dfqX9c/GooCdDOBtZn5sB+wzWoHyZUOeQ+oPyY/k2Xw1hLDplR8JjOnGEryx+8CTF51F5TkU3
u+RLtGRUnmEUpALF5Rdtl5BH5QcgHQ+gOw5ZQTzHkSUnlnIhxDMm0DosP2I8f8B0HqUJjCBmrmWh
1jnd4qxuN8A4eJbHhDO+fLZwHUOmdC1FPTnZ0y1/I3+KngxoCRpl0JdyeBwqzQw/DeeM5xRqXwzP
Q/DBu3w17PgCV+9nx0smLrAu8Ec5TSFtxt+HeQz4cTLKuYw4+vwThicvM33uegG1PQrDc3bU++vI
Eci0OfedDR8TjvyM8f6UPAjfDnn3PaAPfNTD9HygzUGs6h2MdPO5Rx6Wp2Q/6D+gA6BTuubfUbcH
uBxiGoW2p+Tzml+QvwXaDyp7VRvUHgtm05zHckr7kbO+m/uz1k46cctNA+xLMtnyjM7Tx+Sner5R
9CbomHwn0GZYvhDwTzdqWMgbRzk6H4MsRsoYrpLwzyuejsPyLfmOx+8hpkl4zVZttOy98l2mUey9
nHmwD/On4ZHS1if3B+z5h3yC/z6GvbE67+VssA+kRt3rIEN5H5lnCJL3Yl51dNjyZczb+zUfkIfQ
89fZTrTxvGnK99MjkX1i+0hpSARzw8XGbADVFmbV80oDyNb6mLNlfscvuvW+7PPtpOav0UAeyaEf
sOEL350RPiOqcYtcUcMcwKUPy+Xjs4n8wi9d67MdzmrjSDoHY7WerZbPUvmpnp9sno/sibPQRE8v
6t84XfEjHeEJ8ZOYlOyzbm7OuUXSjzhnbg/Oo0y5zBDhK92zGbNacP18bnyOLCz/+FcSE+I5zqs9
Z544rVdSgdwU6h9roswV9iyA/4bxXtDjXXm3gRYwk3/u5fO+S0DHCM/8PO7CR2YAP/uyoQIzlLcK
d2RpBJiTjVf4rieI1Kz50PJWT+VfcjQH8Fz4+QcRtQKozdyLmjoP28E1LudnrMBw1a/X7DntbNPz
BWKZCt3vBO3J8CTP98q/Yfb0yl5c9Sqrwtdl4+xRo9LlUfnfi80hcjAs3rmtmC8Hfr7KWQj7i+OX
dzc+qf27hdVlP9aKimyFVj+GrvyIuYK+SWEXjTUavHPItxZLOatCPbZqqCRP1qj98r8KCDnp/ftJ
eTL3/ftlxfKoPI29Uzf2Ngm9bzmMPc5bmuNyEDUSmF1t7OiGL7s9Z+Qn8M0J7MLOKX38/uSC/BAl
zO7+A3sw+9L2x5Oy5jX5T/m3nGpeyDOSutNviHmWcecL+8uvFiaTD7/MfucrtKQHflH7+oz3ddlX
5fmwLuR9uDObOvNF3uc2jRLPHv1+gncG+Z1F5Cl4wCig/KzeGz2GuWsw432vqXf+TvSS+cKPZ89A
gdjTgx1SH+PWG1mZu7t84rnQ7Mm6evb9/vW1Pd7vAld+vPfLo3Lf+Pkr4/eLfOL5TYx40/klKHSv
ZzvZOz+Wfe2fS8g/Jwol/0zm/eFl3psmC2N9WGjr1XFvmRL6F25nJ2YG3zvlcf1TKOuNAew/+9Wv
jYH1c3n2iOVpPVYg68NAJuoJvJ+yvD2G+lIx/1guNHv8+2VTDslhzeb/9f6iwPZf2ir1NVGX/opH
/dZ3kN+2OtyLnKC+LUo49fK0XrYy7v3v51N598/43wtOwxKHw36ZF1Qm7qHrSP2fBtEi8FJqpjuo
LVR8E20ItJ1LESqiYpqn39rOpyjF+KqUv1cuQz6uoEq6lqpoIVVjdN9AS7z2tbSY6vC3npbzF6Hq
mApexV+G3oYr9+vQjTSLNvEXotdn7frNIWW3UCusTJP635RiTf6j1CN1XampGncrYWWa6vnrVYfS
h7LWJQLP1DQbd7OhtdbjCNq7XKRbF0NWJpfAHy6T9oz/iPK3uxRg1xaXS2GJy8XUglhM97gcfnW5
Ah5WXAmLM7lKfQuMPqjIzfGYuC8qbkq2klEf4nvV1uVq9kX6uIlupLW0jtbTGtyt1qXLwLfSNwI1
r+HzCsbpvfpuPvd3LnzT6P912HdcC5yRh6cVHEc/Smb5EEIcibXAdhv8vRS+XQYrFA7m6DrKomag
sgV+ug1YXATcEqxfAvtvByIbMCruQC/WIK43wms3AXXEsQ876kLKFrKVaVru2ZuJZ5fUdZumZdpK
P6nvpx1KH8pal9R4X6PpJo7ICrRyWX1/7bIajw63jOOb4Q+XCZ4JP9aF8HqPb4ElaVZjdIPHa+FX
l5vgYcVtsDiTl8Lvy9AHFblWj4n7shysZCsZLSHWqbYuL2NfpI9yHi1X6zHuHvMY+9d59zN4FKuj
kr9wr/JJqAYmFkJKGa4r+Jv6KlAE9eqBO5XRYkD1EjxvgvZaWNsKXK9Hr+Yj430Tz7aCFvE38Ivp
23Q/6u0G3UqP0uPo2c/oSdR9mp5F3efo13QP/Y7+gFp/pJfpQdpPr9PD9AYdoR+TAeqiD+kjtDkO
eoKSoCfpJOgpGgE9TZ+CnqHPxFz6hZgvFtNBsUKsokNijWijt8UmsYmOiC1iC72nvrInQ3SIDhoS
naKT3v8f1yjMewB42mNgYGBkAIJjqdtPgeiDa7trYDQAUlYHmAAA) format('woff'), url('GothamRounded-Medium.ttf')  format('truetype'), url('GothamRounded-Medium.svg#GothamRounded-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}


