* {
  font-size: 100.01%; }

html {
  font-size: 62.5%;
  height: 100%; }

body {
  margin: 0;
  height: 100%;
  font: 1.3rem/1.61538 'Nunito', sans-serif;
letter-spacing: .1rem;
  }
/*font: 1.3rem/1.61538 "GothamRounded-Bold", sans-serif; */

h1,h2,h3,h4,h5,h6 {
  font: 1.3rem/1.61538 'Nunito', sans-serif;
  font-weight: 700;
}

p {
 font: 1.3rem/1.61538 'Nunito', sans-serif;
letter-spacing: .1rem;
font-weight: 400;}

button:focus {
  outline:0 !important;
}
.btn-outline-none {
  outline:0 !important;
}

.btn, a {
  font: 1.3rem/1.61538 'Nunito', sans-serif;
  -webkit-transition: color linear .4s, background-color linear .4s, border-color linear .4s;
  transition: color linear .4s, background-color linear .4s, border-color linear .4s; }
  .btn:hover, a:hover {
    text-decoration: none;
    outline: none; }

.btn-link {
  display: inline-block;
  vertical-align: top;
  background: #f4f4f4;
  border-radius: 3px;
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 1.3571428;
  padding: 7px 24px; }
  .btn-link:hover {
    background: #e0e0e0; }

#wrapper {
  width: 100%;
  height: 100%;
  display: table;
  overflow: hidden;
  table-layout: fixed; }

#footer {
  width: 100%;
  overflow: hidden;
  display: table-footer-group;
  height: 1%; 
background-color: #141f2f;}

.btn-blue {
  background: #3b5998;
  color: #fff; }
  .btn-blue:hover {
    color: #fff;
    background: #21396b; }

.logo {
  float: left;
  margin: 0 0 0 15px;
/*  width: 151px;*/
  height: 66px; }

.logo img {
  height: 66px;
}

.social-placeholder {
  padding: 9px 0 0;
  height: 35px; }
  .social-placeholder img {
    vertical-align: top;
    max-width: 100%;
    height: auto; }

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  padding: 13px 0 14px;
  background: transparent;
  
  -webkit-backface-visibility: hidden;
  -webkit-transition: all 0.35s ease;
    -moz-transition: all 0.35s ease;
    -o-transition: all 0.35s ease;
    transition: all 0.35s ease;
  /* Prevent Chrome bug because of on-scroll effect in other section */ }

.whiteHeader {
  background-color: #fff !important;
  box-shadow: 0 1px 1px rgba(196, 194, 202, 0.23);
}
  #header .btn {
    float: right;
    margin: 2px 0 0 59px;
    height: 38px;
    min-width: 145px;
    padding: 7px 22px;
/*    font-weight: bold;*/
    font-size: 1.2rem;
    line-height: 22px;
    text-transform: uppercase;
    letter-spacing: .3rem; }

#nav {
  overflow: hidden;
  text-align: right;
  font-size: 0;
  letter-spacing: -4px;
  white-space: nowrap; }
  #nav .nav-drop {
    overflow: hidden; }
  #nav ul {
    padding: 9px 0 5px;
    margin: 0; }
  #nav li {
    display: inline-block;
    vertical-align: top;
    font-size: 1.6rem;
    line-height: 24px;
    font-weight: bold;
    letter-spacing: 0;
    white-space: normal;
    margin: 0 0 0 34px; }
    #nav li a {
      display: block;
      color: #635C73; }
      #nav li a:hover {
        text-decoration: none;
        color: #3086db; }

.nav-opener {
  display: none;
  float: right;
  width: 31px;
  height: 31px;
  position: relative;
  text-indent: -9999px;
  overflow: hidden; }

.nav-opener:before, .nav-opener:after, .nav-opener span {
  background: #333;
  border-radius: 4px;
  position: absolute;
  top: 17px;
  left: 3px;
  right: 3px;
  height: 3px;
  margin-top: -2px;
  /* height/2 */
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear; }

.nav-opener:before {
  content: '';
  top: 8px;
  left: 30%; }

.nav-opener:after {
  content: '';
  top: 26px; }

.nav-active .nav-opener span {
  opacity: 0; }

.nav-opener:hover {
  opacity: .9; }

.nav-active .nav-opener:after, .nav-active .nav-opener:before {
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 16px;
  left: 5%;
  right: 5%; }

.nav-active .nav-opener:after {
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.visual {
  min-height: 540px;
  position: relative;
  overflow: hidden;
  text-align: center;
  color: #8d81ac;
  font-size: 0;
  letter-spacing: -4px;
  padding: 104px 0 0;
  background: #fff; }
  .visual .bg-stretch {
    position: absolute;
    top: 5%;
    left: 47%;
    width: 75%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }
  .visual > .container {
    display: inline-block;
    vertical-align: top;
    position: relative;
    z-index: 1;
    font-size: 2.4rem;
    line-height: 1.5;
    letter-spacing: 0; }
  .visual h1 {
    margin: 0 0 10px;
    font-size: 8.2rem;
    line-height: 1.12;
    font-weight: bold;
    color: #e3dfed; }
  .visual p {
    margin: 0 0 8px; }
    .visual p.tagline {
      line-height: 1.1;
      font-size: 2.6rem; }
  .visual .info {
    display: block;
    font-size: 1.6rem;
    line-height: 1.5;
    color: #494654;
    text-transform: uppercase; }
  .visual .text-block {
    padding: 90px 0; }

#cta {
  position: relative;
  z-index: 1;
  margin: -80px 0 55px;
  text-align: center;
  color: #848e97;
  font-size: 1.4rem;
  line-height: 1.28571428; }
  #cta .btn {
    
    margin: 0 0 16px;
    height: 62px;
    font-size: 1.2rem;
    line-height: 22px;
    text-transform: uppercase;
    letter-spacing: .3rem;
    min-width: 390px;
  padding: 17px;}
  #cta p {
    margin: 0 0 18px; }

.cta-list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 0;
  letter-spacing: -4px;
  white-space: nowrap;
  color: #848e97; }
  .cta-list li {
    display: inline-block;
    vertical-align: top;
    margin: 0 20px;
    font-size: 1.4rem;
    line-height: 1.285;
    letter-spacing: 0;
    white-space: normal; }
  .cta-list .btn {
    position: relative;
    margin: 0 0 15px;
    height: 50px;
    line-height: 30px;
    padding: 10px 50px;
    min-width: 240px; }
    .cta-list .btn i {
      position: absolute;
      left: 24px;
      top: 50%;
      font-size: 2.4rem;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); }
      .cta-list .btn i.fa-twitter {
        font-size: 2rem; }
      .cta-list .btn i.fa-facebook {
        font-size: 1.6rem; }

.text-box {
  text-align: center;
  font-size: 2.1rem;
  line-height: 1.524;
  color: #716E79;
  padding-bottom: 23px; }
  .text-box h2 {
    margin: 0 0 20px;
    font-size: 5.4rem;
    line-height: 1.148;
    text-transform: uppercase;
    font-weight: bold; }
  .text-box p {
    margin: 0 0 35px; }

.rounded {
  border-radius: 40px; }

.main {
  padding: 47px 0; }
.main img {
  width: 110px;
}
  .main .content {
    padding: 25px 15px 23px;
    font-size: 1.3rem;
    line-height: 1.615;
    color: #848e97; }
  .main h3 {
    margin: 0 0 46px;
    font-size: 2.8rem;
    line-height: 1.285;
    font-weight: 300;
    color: #D3D1DA; }
  .main h4 {
    margin: 0 0 12px;
    font-size: 16px;
    line-height: 1.625;
    font-weight: bold; }
    .style-01 .main h4 {
      margin: 0 0 7px; }
  .main p {
    margin: 20px 0 23px;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center; }
.main p.normal-text {
  text-transform: none;
}

  .main .date {
    display: block;
    margin: -5px 0 0;
    padding: 0 0 22px; }
  .main .btn-holder {
    padding: 32px 0 0; }
.bold-capital {
  font-weight: bold;
  text-transform: uppercase;
}

.area {
  padding: 77px 0 47px;
  background: #8674ed; }
  .area h2 {
    margin: 0 0 28px;
    font-size: 4rem;
    line-height: 1.107;
    font-weight: bold;
  color: #fff;
  text-transform: uppercase;}

.slide-holder {
  padding: 0 0 0 65px; }
  .slide-holder .img-slide {
    position: relative;
    margin: 0 0 -140px; }
    .slide-holder .img-slide img {
      position: relative;
      top: 0;
      left: 41%;
    height: 500px;}

/* Blueprint */
.scroll-effect-init .img-slide {
  -webkit-transition: -webkit-transform 1s;
  transition: transform 1s; }

.scroll-effect-init .img-slide {
  -webkit-transform: translateX(50px);
  -moz-transform: translateX(50px);
  transform: translateX(50px); }

.slide-holder.scroll-effect-animate .img-slide {
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  transform: translateX(0px);
  opacity: 1; }

.visual-list {
  margin: 0 -25px -40px -15px;
  padding: 28px 0;
  list-style: none;
  color: #848e97; }
  .visual-list .img-holder {
    float: left;
    width: 90px;
    text-align: center;
    margin: 7px 45px 0 0; }
    .visual-list .img-holder img {
      vertical-align: top; }
  .visual-list .text-holder {
    overflow: hidden; }
  .visual-list li {
    padding: 0 0 29px; }
  .visual-list h3 {
    margin: 0 0 10px;
    font-size: 1.6rem;
    line-height: 1.5;
    font-weight: bold;
    color: #635C73; }
  .visual-list p {
    margin: 0 0 21px;
  color: #fff;
  font-size: 1.7rem;}

.cycle-gallery {
  position: relative;
  text-align: center;
  padding: 40px 200px 33px;
  margin: 0 0 60px;
  font-size: 2rem;
  line-height: 1.6; }
  .cycle-gallery p a {
    font-weight: 400; }
  .cycle-gallery .img-box {
    display: block;
    font-size: 1.6rem;
    line-height: 1.5;
    padding: 0 0 40px; }
    .cycle-gallery .img-box .img-holder {
      display: inline-block;
      vertical-align: middle;
      margin: 0 22px 0 0;
      overflow: hidden; }
      .cycle-gallery .img-box .img-holder img {
        border-radius: 50%; }
    .cycle-gallery .img-box .text-holder {
      display: inline-block;
      vertical-align: middle;
      text-align: left; }
    .cycle-gallery .img-box h3 {
      margin: 0;
      font-size: 2.4rem;
      line-height: 1.33333;
      color: #635C73; }
    .cycle-gallery .img-box a {
      font-weight: bold; }
  .cycle-gallery:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 180px;
    right: 180px;
    height: 1px;
    background: #f4f4f4; }
  .cycle-gallery [class^='btn-'] {
    position: absolute;
    top: 50%;
    margin: 23px 0 0;
    z-index: 9;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateX(-50%);
    color: #a3a3a3; }
    .cycle-gallery [class^='btn-']:hover {
      color: #000; }
  .cycle-gallery .btn-prev {
    left: 90px; }
  .cycle-gallery .btn-next {
    right: 90px; }
  .cycle-gallery .date {
    display: block;
    font-style: normal;
    font-size: 1.6rem;
    line-height: 1.5;
    font-weight: normal;
    color: #848e97; }

.cycle-gallery .mask {
  position: relative;
  overflow: hidden; }

.cycle-gallery .mask .slideset {
  width: 99999px;
  float: left; }

.cycle-gallery .mask .slide {
  float: left; }

.cycle-gallery .mask .slide.active {
  z-index: 1; }

.visual-container {
  background: #4E384E;
  text-align: center; }
  .visual-container .visual-area {
    position: relative;
    overflow: hidden;
    padding: 90px 0 70px;
    font-size: 1.4rem;
    line-height: 1.5;
    color: #fff; }
    .visual-container .visual-area > .container {
      position: relative;
      z-index: 1; }
      .visual-container .visual-area > .container > p {
        margin: 0 120px 5px; }
    .visual-container .visual-area .bg-stretch {
      position: absolute;
      top: 0;
      left: 0; }
  .visual-container .visual-area + .visual-area {
    padding: 70px 0; }
    .visual-container .visual-area + .visual-area:after {
      content: "";
      position: absolute;
      top: 0;
      left: 180px;
      right: 180px;
      height: 1px;
      background: rgba(102, 74, 102, 0.6); }
  .visual-container h2 {
    margin: 0 0 70px;
    font-size: 4.8rem;
    line-height: 1.166666;
    font-weight: bold;
    color: #e3dfed; }
  .visual-container p.silent {
    color: #746074; }

.testimonials {
  margin: 0;
  padding: 0;
  list-style: none;
  color: #fff;
  margin-bottom: -46px;
  overflow: hidden;
  font-size: 0;
  letter-spacing: -4px; }
  .testimonials li {
    display: inline-block;
    vertical-align: top;
    font-size: 1.6rem;
    line-height: 1.5;
    width: 33.3333%;
    letter-spacing: 0; }
  .testimonials .img-holder img {
    display: inline-block;
    vertical-align: middle; }
  .testimonials .img-holder:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 1px;
    height: 100px;
    margin: 0 0 0 -1px; }
  .testimonials p {
    margin: 0 30px 70px; }

.pricing-tables {
  padding: 0 7px 25px;
  font-size: 0;
  letter-spacing: -4px;
  white-space: nowrap; }
  .pricing-tables h3 {
    font-size: 2.4rem;
    line-height: 1.5;
    text-transform: uppercase;
    color: #fff; }

.plan {
  display: inline-block;
  vertical-align: top;
  width: 24%;
  border: 5px solid #A19BB0;
  border-radius: 0;
  min-height: 100px;
  margin: 50px -3px 50px -2px;
  padding: 0 10px 35px;
  font-size: 1.6rem;
  letter-spacing: 0;
  white-space: normal;
  text-align: center;
  color: #fff; }
  .plan .head {
    padding: 8px 0 30px; }

.plan.recommended .head {
  padding: 12px 0 32px; }

.plan .price {
  display: block;
  font-weight: bold;
  text-transform: uppercase; }

.price .price-main {
  display: block;
  padding: 0 0 17px;
  font-size: 7.4rem;
  vertical-align: top;
  line-height: 1;
  white-space: nowrap; }
  .recommended .price .price-main {
    font-size: 8.2rem; }

.price .price-main .symbol {
  font-size: 2.6rem;
  display: inline-block;
  vertical-align: top;
  margin: 0 7px 0 0;
  position: relative; }
  .recommended .price .price-main .symbol {
    font-size: 3.2rem; }

.price .price-main .month {
  font-size: 2.1rem;
  letter-spacing: 2px; }
  .recommended .price .price-main .month {
    font-size: 2.4rem; }

.price .price-additional {
  color: #BDB9C8;
  display: block;
  padding: 0 0 33px;
  font-weight: normal;
  font-size: 1.4rem; }
  .recommended .price .price-additional {
    padding: 0 0 43px; }

.plan .btn {
  height: 42px;
  font-size: 1.5rem;
  border: 0;
  line-height: 26px;
  padding: 8px 40px;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold; }
  .plan .btn.btn-default {
    background: rgba(255, 255, 255, 0.15); }
    .plan .btn.btn-default:hover {
      background: rgba(255, 255, 255, 0.4); }

.recommended .btn {
  padding: 14px 50px;
  height: 52px;
  font-size: 1.6rem;
  line-height: 1.5;
  margin-bottom: 7px; }

.plan ul {
  display: block;
  position: relative;
  margin: 0;
  font-size: 1.6rem;
  line-height: 1.75;
  padding: 29px 0 22px;
  min-height: 117px;
  list-style: none; }

.plan ul:before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 60px;
  margin: 0 0 0 -30px;
  height: 5px;
  background: #8d81ac; }

.plan.recommended {
  margin-top: 0;
  width: 28%;
  position: relative;
  z-index: 99;
  background: rgba(0, 0, 0, 0.2);
  border-color: #8d81ac; }
  .plan.recommended ul {
    min-height: 176px;
    line-height: 32px;
    padding: 37px 0 22px; }

.subscribe {
 margin-top: 90px;
 padding: 7% 10px;
    background: url(../images/clean_bg.png) no-repeat center center;
  background-size: cover;
      height: 382px;
/*  text-align: right;*/
 /* white-space: nowrap; */}
  .subscribe h3 {
    margin: 0 15px;
    float: left;
    font-size: 3rem;
    line-height: 1.4;
    font-weight: bold;
    color: #635C73; }
  .subscribe .form-group {
    overflow: hidden; }
  .subscribe .form-control {
    padding: 10px 28px;
    font-size: 1.4rem;
    height: 42px;
    min-width: 335px;
    line-height: 20px;
    border-color: #fff;
    font-weight: bold;
    box-shadow: 0 0 0 #fff; }
  .subscribe .btn {
    margin: 20px 0 16px;
    height: 62px;
    font-size: 1.2rem;
    line-height: 22px;
    text-transform: uppercase;
    letter-spacing: .3rem;
    min-width: 390px;
    padding: 17px;}

.footer-holder {
  position: relative;
  padding: 62px 15px 92px;
  font-size: 1.4rem;
  line-height: 1.6428571429;
  color: #848e97; }
  .footer-holder:before {
    /*content: '';
    position: absolute;
    height: 1px;
    top: 0;
    right: 15px;
    left: 15px;
    background: #f4f4f4;*/ }
  .footer-holder .logo {
    margin: 0 0 23px;
    padding: 4px 0 0;
    float: none;
    display: block; }
    .footer-holder .logo + p {
      line-height: 21px; }
  .footer-holder h4 {
    margin: 0 0 14px;
    font-size: 1.6rem;
    line-height: 1.5;
    font-weight: bold;
  color: #fff;}
  .footer-holder ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1.55; }
    .footer-holder ul a {
      color: #3ec0fe; }
      .footer-holder ul a:hover {
        color: #3086db; }
  .footer-holder .text-holder {
    padding: 0 0 0 10px; }
  .footer-holder .text-frame {
    padding: 0 0 0 25px; }
  .footer-holder .phone {
    display: block;
    margin: 0 0 6px;
    font-size: 3rem;
    line-height: 1.2; }
    .footer-holder .email a {
      color: #fff; }
  .footer-holder .available {
     font: 1.3rem/1.61538 'Nunito', sans-serif;
    display: block;
    padding: 0 0 29px;
    font-size: 1.2rem;
    line-height: 1.3333333;
/*    font-weight: bold;*/
    text-transform: uppercase;
    color: #848e97; }
  .footer-holder address {
    display: block;
    margin: -3px 0 0;
    font-style: normal;
    line-height: 23px; }

@media only screen and (max-width: 992px) {
  .nav-opener {
    display: inline-block;
    vertical-align: top; }

  .opener-holder {
    float: right;
    display: inline-block;
    vertical-align: top;
    position: relative;
    padding: 0 0 0 25px;
    margin: 7px 25px 0; }
    .opener-holder:before {
      position: absolute;
      content: "";
      width: 1px;
      left: 0;
      top: 0;
      bottom: -6px;
      background: #f4f4f4; }

  #header {
    position: relative;
    padding: 0; }
    #header > .container {
      padding: 29px 0 0; }
    #header .logo {
      margin: 3px 0 32px 25px; }
    #header .btn {
      float: none;
      height: 48px;
      font-size: 1.7rem;
      line-height: 22px;
      margin: 0;
      padding: 12px 40px;
      display: inline-block;
      vertical-align: top; }

  #nav {
    overflow: visible;
    font-size: 1.8rem;
    line-height: 1.3333333;
    letter-spacing: 0;
    font-weight: normal; }
    #nav .nav-drop {
      display: block;
      clear: both;
      width: 100%;
      max-width: 400px;
      position: absolute;
      right: 0;
      top: 100%;
      pointer-events: none;
      opacity: 0;
      -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
      transition: transform 0.3s, opacity 0.3s;
      -webkit-transform: translate3d(0, 30px, 0);
      transform: translate3d(0, 30px, 0); }
      #nav .nav-drop > ul {
        display: block;
        padding: 0;
        text-align: left; }
        #nav .nav-drop > ul li {
          position: relative;
          margin: 0;
          padding: 0 35px;
          display: block;
          font-size: 1.8rem;
          line-height: 1.3333333;
          font-weight: normal; }
          #nav .nav-drop > ul li.active:before {
            content: '';
            position: absolute;
            top: 20px;
            bottom: 20px;
            width: 4px;
            left: 0;
            background: #8d81ac; }
          #nav .nav-drop > ul li a {
            display: block;
            margin: 0 -9999px;
            padding: 20px 9979px;
            border-bottom: 1px solid #3E3D3F;
            color: #fff;
            background: rgba(51, 51, 51, 0.98); }
            #nav .nav-drop > ul li a:active, #nav .nav-drop > ul li a:focus, #nav .nav-drop > ul li a:hover {
              text-decoration: none;
              color: #8d81ac; }
          #nav .nav-drop > ul li.active {
            position: relative; }
            #nav .nav-drop > ul li.active a {
              color: #858585; }
      #nav .nav-drop .drop-holder {
        margin: 0 -9999px;
        padding: 20px 10014px;
        background: #333;
        text-align: left;
        color: #9a9a9a; }
        #nav .nav-drop .drop-holder span {
          display: block;
          margin: 0 0 20px; }
        #nav .nav-drop .drop-holder ul {
          padding: 0; }
          #nav .nav-drop .drop-holder ul li {
            padding: 0;
            margin: 0; }
          #nav .nav-drop .drop-holder ul li + li {
            margin: 0 0 0 20px; }
          #nav .nav-drop .drop-holder ul a {
            font-size: 3rem;
            color: #fff; }
            #nav .nav-drop .drop-holder ul a:hover {
              color: #3ec0fe; }

  .nav-active #nav .nav-drop {
    pointer-events: auto;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }

  #cta {
    margin: -80px 0 41px; }

  .social-placeholder {
    padding: 0; }

  .visual {
    padding: 0;
    min-height: 760px; }
    .visual .text-block {
      padding: 70px 0; }
    .visual:before {
      display: none; }
    .visual .bg-stretch {
      bottom: -60px; }

  .area {
    padding: 40px 0 47px; }

  .text-box {
    font-size: 1.6rem;
    line-height: 1.625;
    padding-bottom: 13px; }

  .main .text-box p {
    margin: 0 0 33px; }

  .text-box h2 {
    font-size: 4.8rem;
    line-height: 1.333333; }

  .visual-list {
    margin: 0;
    padding: 28px 0 0 15px; }
    .visual-list .img-holder {
      width: 120px;
      margin: 7px 20px 0 0; }
    .visual-list li {
      padding: 0 0 19px; }

  .slide-holder {
    padding: 0;
    margin: 0 0 -130px;
    text-align: center; }

  .slide-holder .img-slide img {
    position: relative;
    left: -3px; }

  .area h2 {
    text-align: center;
    font-size: 4.8rem;
    line-height: 1.125; }

  .cycle-gallery {
    margin: 0 0 30px;
    padding: 85px 35px 0;
    font-size: 1.7rem;
    line-height: 1.412; }
    .cycle-gallery .img-box {
      padding: 0 0 35px; }
    .cycle-gallery [class^='btn-'] {
      margin: 67px 0 0; }
    .cycle-gallery .btn-prev {
      left: 0; }
    .cycle-gallery .btn-next {
      right: 0; }
    .cycle-gallery:after {
      display: none; }
    .cycle-gallery .date {
      margin: -10px 0 0; }

  .testimonials li {
    width: 50%; }
    .testimonials li p {
      margin: 0 10px 18px; }

  .cta-list {
    margin: 0 0 -16px; }
    .cta-list li {
      display: block;
      margin: 0; }
    .cta-list .btn {
      margin: 0 0 15px;
      min-width: 280px; }
    .cta-list p {
      margin: 0 0 26px; }

  .visual-container .visual-area {
    padding: 68px 0 84px; }
  .visual-container h2 {
    margin: 0 0 53px;
    font-size: 4.8rem;
    line-height: 1.25; }
  .visual-container .visual-area + .visual-area {
    padding: 54px 0 55px; }
    .visual-container .visual-area + .visual-area:after {
      left: 65px;
      right: 65px; }

  .testimonials p {
    margin: 0 30px 36px; }

  .pricing-tables {
    padding: 20px 0 60px; }

  .plan {
    display: block;
    width: auto;
    margin: 0 auto -5px;
    max-width: 310px; }
    .plan.recommended {
      max-width: 370px;
      width: auto; }

  .visual-container .visual-area > .container > p {
    margin: 0 40px; }

  .subscribe {
    text-align: center;
    margin: 2px 0 0; }
    .subscribe .form-inline {
      min-width: 430px;
      display: inline-block;
      vertical-align: top; }
    .subscribe .form-group {
      margin: 0; }
    .subscribe .form-control {
      min-width: 260px; }

  .subscribe h3 {
    font-size: 3rem;
    line-height: 1.2;
    float: none;
    margin: 0 0 44px; }

  .main h3 {
    margin: 0 0 26px; }

  .main .content {
    padding: 5px 15px 0; }

  .main .col-md-4 h3:first-child {
    margin: 40px 0 26px; }

  .main .col-md-4:first-child h3 {
    margin: 0 0 26px; }

  .main .btn-holder {
    padding: 12px 0; }

  .footer-holder {
    padding: 47px 19px 70px; }
    .footer-holder .text-holder {
      padding: 0; }
    .footer-holder .text-frame {
      padding: 0; }
    .footer-holder:before {
      left: 0;
      right: 0; }

  .footer-holder .logo + p {
    margin: 0 0 29px; }

  .footer-holder ul {
    margin: 0 0 26px; }

  .footer-holder address {
    margin: -3px 0 29px; } }
@media only screen and (max-width: 767px) {
  .testimonials {
    margin: 0 0 -20px; }
    .testimonials p {
      margin: 0 0 20px; }
    .testimonials li {
      width: 100%; }
      .testimonials li p {
        margin: 0 30px 36px; } }
@media only screen and (max-width: 479px) {
  body {
    min-width: 320px; }

  #header > .container {
    padding: 10px 0 0; }

  .subscribe .form-inline {
    min-width: 280px; }

  #header .btn {
    height: 30px;
    margin: 8px 0 0;
    font-size: 1.2rem;
    line-height: 20px;
    padding: 3px 20px;
    min-width: 0; }
  #header .logo {
    margin: 4px 0 10px 10px;
    width: 130px; }

  .opener-holder {
    margin: 4px 10px;
    padding: 0 0 0 10px; }

  .visual {
    min-height: 340px; }
    .visual > .container {
      font-size: 1.6rem;
      line-height: 1.5; }
    .visual .bg-stretch {
      max-width: 100%;
      bottom: 20px; }
    .visual .info {
      background: rgba(255, 255, 255, 0.3);
      color: #BEBCC3; }

  .visual h1 {
    font-size: 5.4rem;
    line-height: 1.148; }

  .visual .text-block {
    padding: 30px 0; }

  #nav .nav-drop > ul li.active:before {
    top: 15px;
    bottom: 15px; }

  .area, .main {
    padding: 40px 0; }

  #cta {
    margin: -61px 0 0; }
    #cta .btn {
      margin: 0 0 12px;
      height: 42px;
      font-size: 1.4rem;
      line-height: 20px;
      padding: 10px 30px;
      min-width: 0; }

  .text-box {
    font-size: 1.4rem;
    line-height: 1.285; }
    .text-box h2 {
      font-size: 2.8rem;
      line-height: 1.286; }

  .visual-container h2, .area h2 {
    margin: 0 0 20px;
    font-size: 3.2rem;
    line-height: 1.125; }

  .visual-list {
    padding: 20px 0 0; }
    .visual-list .img-holder {
      margin: 0 10px 0 0; }
    .visual-list .text-holder {
      overflow: visible; }

  .slide-holder {
    margin: 0 0 -80px; }
    .slide-holder .img-slide img {
      height: 416px;
      width: auto; }

  .cycle-gallery {
    text-align: center; }
    .cycle-gallery .img-box {
      padding: 0 0 10px; }
      .cycle-gallery .img-box .img-holder {
        margin: 0 0 10px;
        display: block; }

  .cycle-gallery .img-box .text-holder {
    display: block;
    text-align: center; }

  .visual-container .visual-area + .visual-area, .visual-container .visual-area {
    padding: 40px 0; }

  .plan {
    max-width: 260px; }
    .plan .head {
      padding: 6px 12px 20px; }
    .plan.recommended {
      max-width: 300px; }

  .pricing-tables {
    padding: 20px 0 40px; }

  .visual-container .visual-area > .container > p {
    margin: 0; }

  .pricing-tables h3 {
    font-size: 1.6rem;
    line-height: 1.5;
    margin: 20px 0 10px; }

  .price .price-main {
    font-size: 5rem;
    line-height: 1.12;
    padding: 0 0 12px; }

  .price .price-main .symbol {
    font-size: 1.6;
    line-height: 1.5; }

  .price .price-additional {
    padding: 0 0 24px;
    font-size: 1.2rem;
    line-height: 1.5; }

  .subscribe {
    margin: -20px 0; }

  .subscribe .form-group {
    margin: 0; }

  .subscribe .btn {
    padding: 10px 0px;
    margin: 0 0 0 -6px; 
  }

  .subscribe .form-control {
    min-width: 0; }

  .subscribe h3 {
    font-size: 2rem;
    line-height: 1.3;
    margin: 0 0 20px; }

  .main .content {
    padding: 0; }

  .main .col-md-4 h3:first-child {
    margin: 20px 0 10px; }

  .main .col-md-4:first-child h3 {
    margin: 0 0 10px; }

  .footer-holder {
    padding: 20px 0; }

  .cycle-gallery {
    font-size: 1.4rem;
    line-height: 1.285; } }
@media only screen and (min-width: 1025px) {
  [href^='tel:'] {
    cursor: default;
    pointer-events: none; } }

/*# sourceMappingURL=all.css.map */


/* Modals */
.modal .modal-dialog .modal-content {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  border-color: #DDDDDD;
  border-radius: 2px;
  box-shadow: none;
  padding: 25px;
}
.modal .modal-dialog .modal-content .modal-header {
  border-bottom-width: 2px;
  margin: 0;
  padding: 0;
  padding-bottom: 15px;
}
.modal .modal-dialog .modal-content .modal-body {
  padding: 20px 0;
}
.modal .modal-dialog .modal-content .modal-footer {
  padding: 0;
  padding-top: 15px;
}
.modal-full {
  width: 98%;
}
.modal-content .nav.nav-tabs + .tab-content {
  margin-bottom: 0px;
}
.modal-content .panel-group {
  margin-bottom: 0px;
}
.modal-content .panel {
  border-top: none;
}
/* Custom-modal */
.modal-demo {
  background-color: #FFF;
  width: 890px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  background-clip: padding-box;
  display: none;
}
.modal-demo .close {
  position: absolute;
  top: 15px;
  right: 25px;
/*  color: #eeeeee;*/
  width: 3%;
  opacity: 1;
}

.modal-demo .close:hover {
  opacity: 0.5;
}
.custom-modal-title {
  padding: 15px 25px 15px 25px;
  line-height: 22px;
  font-size: 18px;
  background-color: #36404a;
  color: #ffffff;
  text-align: left;
  margin: 0px;
}
.custom-modal-text {
  padding: 20px;
}
.custombox-modal-flash .close,
.custombox-modal-rotatedown .close {
  top: 20px;
  z-index: 9999;
}

.form-control-feedback {
  line-height: 38px !important;
}

.form-control {
  background-color: #FFFFFF;
  border: 1px solid #E3E3E3;
  border-radius: 4px;
  color: #565656;
  padding: 7px 12px;
  height: 38px;
  max-width: 100%;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  transition: all 300ms linear;
}
/*
File: Helper clasess
*/
.p-0 {
  padding: 0px !important;
}
.p-20 {
  padding: 20px !important;
}
.p-30 {
  padding: 30px !important;
}
.p-l-0 {
  padding-left: 0px !important;
}
.p-r-0 {
  padding-right: 0px !important;
}
.p-t-0 {
  padding-top: 0px !important;
}
.p-t-10 {
  padding-top: 10px !important;
}
.p-b-10 {
  padding-bottom: 10px !important;
}
.p-l-r-10 {
  padding-left: 10px;
  padding-right: 10px;
}
.m-0 {
  margin: 0px !important;
}
.m-r-5 {
  margin-right: 5px !important;
}
.m-r-10 {
  margin-right: 10px !important;
}
.m-r-15 {
  margin-right: 15px !important;
}
.m-l-5 {
  margin-left: 5px !important;
}
.m-l-10 {
  margin-left: 10px !important;
}
.m-l-15 {
  margin-left: 15px !important;
}
.m-t-5 {
  margin-top: 5px !important;
}
.m-t-0 {
  margin-top: 0px !important;
}
.m-t-10 {
  margin-top: 10px !important;
}
.m-t-15 {
  margin-top: 15px !important;
}
.m-t-20 {
  margin-top: 20px !important;
}
.m-t-30 {
  margin-top: 30px !important;
}
.m-t-40 {
  margin-top: 40px !important;
}
.m-b-0 {
  margin-bottom: 0px !important;
}
.m-b-5 {
  margin-bottom: 5px !important;
}
.m-b-10 {
  margin-bottom: 10px !important;
}
.m-b-15 {
  margin-bottom: 15px !important;
}
.m-b-20 {
  margin-bottom: 20px !important;
}
.m-b-30 {
  margin-bottom: 30px !important;
}
.w-xs {
  min-width: 80px;
}
.w-sm {
  min-width: 95px;
}
.w-md {
  min-width: 110px;
}
.w-lg {
  min-width: 140px;
}
.m-h-40 {
  min-height: 40px;
}
.m-h-50 {
  min-height: 50px;
}
.l-h-34 {
  line-height: 34px;
}
.font-600 {
  font-weight: 600;
}
.font-bold {
  font-weight: 700;
}
.font-normal {
  font-weight: normal;
}
.font-light {
  font-weight: 300;
}
.font-13 {
  font-size: 13px !important;
}
.wrapper-md {
  padding: 20px;
}
.pull-in {
  margin-left: -15px;
  margin-right: -15px;
}
.b-0 {
  border: none !important;
}
.vertical-middle {
  vertical-align: middle;
}
.bx-shadow {
  -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
}
.mx-box {
  max-height: 380px;
  min-height: 380px;
}
.thumb-sm {
  height: 32px;
  width: 32px;
}
.thumb-md {
  height: 48px;
  width: 48px;
}
.thumb-lg {
  height: 88px;
  width: 88px;
}
/* Table type box */
.table-box {
  display: table;
  height: 100%;
  width: 100%;
}
.table-box .table-detail {
  display: table-cell;
  vertical-align: middle;
}
/* Card Box */
.card-box {
  padding: 20px;
  border: 1px solid rgba(54, 64, 74, 0.05);
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  background-clip: padding-box;
  margin-bottom: 20px;
  background-color: #ffffff;
}
.grid-structure .grid-container {
  background-color: #f4f8fb;
  margin-bottom: 10px;
  padding: 10px 20px;
}
.icon-list-demo div {
  cursor: pointer;
  line-height: 45px;
  white-space: nowrap;
  color: #75798B;
}
.icon-list-demo div:hover {
  color: #ffffff;
}
.icon-list-demo div p {
  margin-bottom: 0px;
}
.icon-list-demo i {
  -webkit-transition: all 0.2s;
  -webkit-transition: font-size 0.2s;
  display: inline-block;
  font-size: 18px;
  margin: 0;
  text-align: center;
  transition: all 0.2s;
  transition: font-size 0.2s;
  vertical-align: middle;
  width: 40px;
}
.icon-list-demo .col-md-4 {
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  background-clip: padding-box;
}
.icon-list-demo .col-md-4:hover {
  background-color: #5fbeaa;
}
.icon-list-demo .col-md-4:hover i {
  -o-transform: scale(2);
  -webkit-transform: scale(2);
  moz-transform: scale(2);
  transform: scale(2);
}

/**
Parsely error validation css
*/
input.parsley-success,
select.parsley-success,
textarea.parsley-success {
  color: #468847;
  background-color: #DFF0D8;
  border: 1px solid #D6E9C6;
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
  color: #B94A48;
  background-color: #f9f2f4;
  border: 1px solid #EED3D7;
}

.parsley-errors-list {
  margin: 8px 0 3px;
  padding: 0;
  list-style-type: none;
  font-size: 0.9em;
  line-height: 0.9em;
  opacity: 0;
  color: red;
  transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
  text-align: left;
}

.parsley-errors-list.filled {
  opacity: 1;
}

.modal-title {
  font-size: 1.2em;
  letter-spacing: 0 !important;
}

.modal-content {
  border: none;
}

.modal-demo:active,
.modal-demo:focus  {
  outline: 0px !important;
  -webkit-appearance:none;
}

.modal-header {
  border-bottom: none;
}

.custom-input-uno {
  background-color: #f5f8f9;
  border: 1px solid #e1e1e1;
  border-radius: 2px;
  height: 50px;
}

input.custom-input-uno:focus {
   
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -moz-transition: none;
  -webkit-transition: none;
}
.custom-label-uno {
  text-transform: uppercase;
  font-weight: 100;
  float: left;
  color: #c0c3c5;
}

.pd5 {
  padding: 3% 5%;
}

.btn-blue-uno {
  color: #fff;
    background-color: #3ec0fe;
    border-color: #3ec0fe;
  
    font-size: 1.2rem;
    line-height: 22px;
    text-transform: uppercase;
    letter-spacing: .3rem;
     padding: 13px 25px;
}

.btn-blue-uno:hover, 
.btn-blue-uno:focus, 
.btn-blue-uno.focus, 
.btn-blue-uno:active, 
.btn-blue-uno.active, .open > .btn-blue-uno.dropdown-toggle {
    color: #fff;
    background-color: #04adfe;
    border-color: #04adfe; 
}

.benefits > img {
/*  width: 60% !important;*/
}

.benefits h1,
.confirm-email h1 {
  font-size: 2rem;
  text-transform: uppercase;
  margin: 0;
}

.benefits p {
  color: #a2a3a3;
}

.confirm-email img {
  width: 70%;
}

p.emailid-user {
  color: #f2b622;
  font-weight: bold;
  font-size: 2rem;
}

p.subtext-uno {
  color: #a2a3a3;
}

.referral_code {
  font-family: 'Nunito', sans-serif;
  color: #1e5fa0;
  font-weight: 700;
  font-size: 50px;
  line-height: 86px;
  text-align: center;
  background-color: aliceblue;
  border-width: thick;
  border-style: dashed;
}

.btn-social>:first-child {
/*    position: absolute; */
    left: 0;
    top: 0px;
    bottom: 0;
    width: 21px;
    line-height: 27px;
    font-size: 1em;
    text-align: center;
    border-right: 1px solid rgba(0,0,0,0.2);
}

.btn-facebook {
    color: #fff;
    background-color: #3b5998;
    border-color: rgba(0,0,0,0.2);
    padding: 0px 9px;
    margin-top: -16px;
}

.btn-block {
    display: block;
    width: 100%;
}

a.btn-facebook:hover {
  color: #fff;
}

.twitter-share-button {
  margin-top: 20px;
}