.index3 {
  height: 100%;
  padding: 0;
  margin: 0;
  background: #fff url(../images/background_1.png) fixed center center;
  background-size: 100% 100%;
  
}

#left {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  float: left;
  width: 40%;
  background: #fff;
  -moz-box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.08);
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.08);
}

#left div {
    text-align: center;
    width: 80%;
    margin: 10% auto;
    
}

ul.social_index3 li {
  list-style: none;
  float: left;
  margin-right: 10px;
}

#right {
    float: right;
    width: 60%;
}

.mt30 {
  margin-top: 15%;
}

.text-box h1 {
    margin: 0 0 20px;
    font-size: 3.4rem;
    line-height: 1.148;
    text-transform: uppercase;
    font-weight: bold;
}

.custom-label-index3 {
    text-transform: uppercase;
    font-weight: 100;
    /* float: left; */
    color: #c0c3c5;
}

.form-index3 {
  width: 65%;
  margin-left: 10%;
}

