/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen 
  /*and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)*/
  and (min-width: 320px) 
  and (max-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

    #header .logo {
      width: 95px;
    }
    
    #header .btn {
      height: 30px;
      margin: 23px 0 0;
      font-size: 1rem;
      line-height: 20px;
      padding: 3px 5px;
      min-width: 0;
    }
    
    .visual {
      min-height: 180px;
    }
    
    #cta .btn {
      margin: 0 0 12px;
      height: 42px;
      font-size: 1rem;
      line-height: 20px;
      padding: 10px 5px;
      min-width: 0;
    }
    
    .main p {
      font-size: 1rem;
    }
    
    .benefits {
      margin-top: 20px;
    }
    
    .modal-demo .close {
      top: 6px;
      right: 7px;
      width: 10%;
    }
    
    .subscribe .btn {
      font-size: 1rem;
      height: 44px;
      min-width: 0;
    }
    
    p.emailid-user {
      font-size: 1.6rem;
    }
    
    .fb-social,
    .twitter-social,
    .ig-social {
      margin-bottom: 20px;
    }
    
    .thankyou-uno img {
      width: 25% !important;
    }
    
    .footer-holder {
      text-align: center;
    }
}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-width: 320px) 
  and (max-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {

    .subscribe .text-box {
      margin-top: 100px;
    }
    
    p.emailid-user {
      font-size: 1.7rem;
    }
    
    .fb-social,
    .twitter-social,
    .ig-social {
      margin-bottom: 20px;
    }
    
    .thankyou-uno img {
      width: 50% !important;
    }
    
    .footer-holder {
      text-align: center;
    }
}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}



/* ----------- iPad mini ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-width: 768px) 
  and (max-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {

    .visual {
      min-height: 355px;
    }
    
    .subscribe .text-box {
      margin-top: 100px;
    }
}

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {

}


/* ----------- Nexus 10 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-width: 600px) 
  and (max-width: 960px)
  and (-webkit-min-device-pixel-ratio: 2) {

    .visual {
      min-height: 355px;
    }
    
    .subscribe .text-box {
      margin-top: 100px;
    }
    
    .footer-holder {
      text-align: center;
    }
}
